{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.registry }}

    {{ partial "page-header.html" . }}

  </head>
  <body class="page-body">

    {{ partial "page-nav.html" . }}

    <div class="page-header-section-registry">
      <h1 class="page-header-title">{{ .PageHeaderRegister }}</h1>
    </div>

    <div class="title-dots page-dots"></div>

<!------------------------------------------------ Section 01 ----------------->

      <div class="container page-text-container">

        <div class="registry-main-notice">
          <h3 class="page-text-container-h3 registry-title-highlight">{{ .Info01A }}</h3>
          <h5 class="register-text-h5">{{ .Info01B }}</h5>
        </div>

        <hr class="page-hr registry-hr">

<!----------------------------------- public opening registry ----------------->

              <a class="register-call-to-action"href="#">
                 <button type="button" name="button">
                   <h4>{{ .ButtonTitle01C }}</h4>
                   <p>{{ .ButtonSubtitle01C }}</p>
                 </button>
              </a>

        <hr class="page-hr registry-hr">

<!-------------------------------------- Section 02 - EdCamp  ----------------->

        <div class="row">

          <div class="col-md-6">
            <h3 class="page-text-container-h3 registry-title-highlight">{{ .Title04A }}</h3>
            <h5 class="register-text-h5">{{ .ListTitle04A }}</h5>
            <p>{{ .ListText04A }}</p>

            <h5 class="register-text-h5">{{ .ListTitle04B }}</h5>
            <p>{{ .ListText04B }}</p>

          </div> <!-- col -->

          <div class="col-md-6">

              <a class="register-call-to-action" href="#">
                 <button type="button" name="button">
                   <h4>{{ .ButtonTitle04F }}</h4>
                   <p>{{ .ButtonSubtitle04F }}</p>
                 </button>
              </a>

          </div> <!-- col -->

        </div> <!-- row -->

        <hr class="page-hr registry-hr">

<!-------------------------------- Section 03 - conference registry ----------->

        <div class="row">

          <div class="col-md-6">
            <h3 class="page-text-container-h3 registry-title-highlight">{{ .Title02A }}</h3>
            <h5 class="register-text-h5">{{ .ListTitle02A }}</h5>
            <p>{{ .ListText02A }}</p>

            <h5 class="register-text-h5">{{ .ListTitle02B }}</h5>
            <p>{{ .ListText02B }}</p>

            <h5 class="register-text-h5">{{ .Info02C }}</h5>

            <p>{{ .Info02D }}</p>


          </div> <!-- col -->

          <div class="col-md-6">

              <a class="register-call-to-action" href="#">
                 <button type="button" name="button">
                   <h4>{{ .ButtonTitle02 }}</h4>
                   <p>{{ .ButtonSubtitle02 }}</p>
                 </button>
              </a>

              <h5 class="register-text-h5">{{ .ListTitle03E }}</h5>
              <p>{{ .ListText03E }}</p>

          </div> <!-- col -->

        </div> <!-- row -->

        <hr class="page-hr registry-hr">


<!-------------------------------- Section 03 - Workshops registry ------------>


          <div class="row">

            <div class="col-md-6">
              <h3 class="page-text-container-h3 registry-title-highlight">{{ .Title03A }}</h3>
              <h5 class="register-text-h5">{{ .ListTitle03A }}</h5>
              <p>{{ .ListText03A }}</p>

              <h5 class="register-text-h5">{{ .ListTitle03B }}</h5>
              <p>{{ .ListText03B }}</p>

              <h5 class="register-text-h5">{{ .Info03C }}</h5>

              <p>{{ .Info03D }}</p>


            </div> <!-- col -->

            <div class="col-md-6">

                <a class="register-call-to-action" href="#">
                   <button type="button" name="button">
                     <h4>{{ .ButtonTitle03 }}</h4>
                     <p>{{ .ButtonSubtitle03 }}</p>
                   </button>
                </a>

                <h5 class="register-text-h5">{{ .ListTitle03E }}</h5>
                <p>{{ .ListText03E }}</p>

            </div> <!-- col -->

          </div> <!-- row -->

          <hr class="page-hr registry-hr">


        </div> <!-- page-text-container-section -->


    {{ partial "js.html" . }}

    {{ partial "page-footer.html" . }}

  </body>
</html>

{{ end }}
