{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.workshops }}

    {{ partial "page-header.html" . }}

    <body class="page-body">

      {{ partial "page-nav.html" . }}

      <div class="page-header-section-about">
        <h1 class="page-header-title">{{ .PageHeaderWorkshops }}</h1>
      </div>

      <div class="title-dots page-dots"></div>

      <div class="container workshops-container">

<!---- Friday, 5 April -------------------------------------------------------->

            <div class="content-date-title">

              <h2>{{ .Date01 }}</h2>

            </div>  <!-- content-date-title -->

            <hr class="page-hr">

<!---- 01 --------------------------------------------------------------------->

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time01 }}</h3>
                <h4>{{ .Place01 }}</h4>

              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3>{{ .Title01 }}</h3>
                <h6>{{ .Subtitle01 | markdownify }}</h6>
                <p>{{ .Text01 }}</p>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!------ 01 - Paralel workshops  ---------------------------------------------->


            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time02A }}</h3>
                <h4>{{ .Place02A }}</h4>

              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3>{{ .Title02A }}</h3>
                <h6>{{ .Subtitle02A | markdownify }}</h6>
                <p>{{ .Text02A }}</p>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!------->
<div class="parallel-workshops-container">

<!------ 01 - 02 - When Things Fall Apart (first part)  ----------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum01 }}</h1>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom01 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage01 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle01 }}</h3>
                  <h6>{{ .WorkshopSubtitle01 | markdownify }}</h6>
                  <p>{{ .WorkshopText01 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/gever_tulley.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle01A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText01A }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/gever">@gever</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/mackenzie_price.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle01B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText01B }}</p>

                              <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/HelenaArlequino">@HelenaArlequino</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!------ 02 - Co-creating the assessment cultures of the future  -------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum03 }}</h1>
                  <h3>{{ .WorkshopClassroom03 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom03 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage03 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle03 }}</h3>
                  <h6>{{ .WorkshopSubtitle03 | markdownify }}</h6>
                  <p>{{ .WorkshopText03 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/juuso_henrik_nieminen.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle03A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText03A }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/JuusoNieminen">@JuusoNieminen</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">


<!---- 03 - It is all elemental! An escape room of the periodic table  -------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum04 }}</h1>
                  <h3>{{ .WorkshopClassroom04 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom04 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage04 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle04 }}</h3>
                  <h6>{{ .WorkshopSubtitle04 | markdownify }}</h6>
                  <p>{{ .WorkshopText04 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/fina_guitart.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle04 }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText04 }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/FinaGuitart">@FinaGuitart</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">


<!---- 04 - Making Change Happen  --------------------------------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum05 }}</h1>
                  <h3>{{ .WorkshopClassroom05 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom05 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage05 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle05 }}</h3>
                  <h6>{{ .WorkshopSubtitle05 | markdownify }}</h6>
                  <p>{{ .WorkshopText05 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/anna_cutler.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle05 }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText05 }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/AnnaCutler">@AnnaCutler</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!---- 05 - Let’s learn by mixing music, maths and programming  --------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum06 }}</h1>
                  <h3>{{ .WorkshopClassroom06 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom06 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage06 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle06 }}</h3>
                  <h6>{{ .WorkshopSubtitle06 | markdownify }}</h6>
                  <p>{{ .WorkshopText06 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/jose_luis_touron.jpg" alt="jose-luis-touron-steamconf">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle06A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText06A }}</p>

                                <!--<a class="page-text-container-section-a" target="_blank" href="https://twitter.com/AnnaCutler">@AnnaCutler</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/enric_pinto.jpg" alt="enric-pinto-steamconf">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle06B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText06B }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/pintoenr">@pintoenr</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!---- 06 - Let’s go quantum! ------------------------------------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum07 }}</h1>
                  <h3>{{ .WorkshopClassroom07 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom07 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage07 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle07 }}</h3>
                  <h6>{{ .WorkshopSubtitle07 | markdownify }}</h6>
                  <p>{{ .WorkshopText07 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/federica_beduini.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle07A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText07A }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/BeduPhede">@BeduPhede</a>

                            </div> <!-- col -->

                        </div> <!-- row -->



                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/lydia_sanmarti.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle07B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText07B }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a>

                            </div> <!-- col -->

                        </div> <!-- row -->



                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/sylvia_carrasco.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle07C }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText07C }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">




<!---- 07 - La Matèria i els elements químics; llenguatge integrador ------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum17 }}</h1>
                  <h3>{{ .WorkshopClassroom17 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom17 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage17 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle17 }}</h3>
                  <h6>{{ .WorkshopSubtitle17 | markdownify }}</h6>
                  <p>{{ .WorkshopText17 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/javier-pena.jpg" alt="STEAMConf javier pena">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle17A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText17A }}</p>

                                <!--    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/#">@Define</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->



                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/bernat_faura.jpg" alt="STEAMConf bernat faura">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle17B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText17B }}</p>

                                <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->



                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/queralt_fuentes.jpg" alt="STEAMConf bernat faura">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle17C }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText17C }}</p>

                                <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->


                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/joan_jorquera.jpg" alt="STEAMConf bernat faura">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle17D }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText17D }}</p>

                                <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->


                      </div> <!-- row workshops-speakers-area -->

                    </div> <!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!---- 08 - Minecraft; Education Edition a l’aula -------------------------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum18 }}</h1>
                  <h3>{{ .WorkshopClassroom18 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom18 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage18 }}</h6>


                </div>  <!-- col content-time -->

               <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle18 }}</h3>
                  <h6>{{ .WorkshopSubtitle18 | markdownify }}</h6>
                  <p>{{ .WorkshopText18 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                   <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/alba_rodriguez.jpg" alt="STEAMConf Alba Rodríguez Agüero">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle18 }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText18 }}</p>

                            <!--    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/#">@Define</a> -->

                            </div> <!-- col -->

                      </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">


<!---- 09 - Regulem la temperatura i ens posem crema solar
per apropar les TICs a l’àmbit STEAM --------------------------------------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum19 }}</h1>
                  <h3>{{ .WorkshopClassroom19 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom19 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage19 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle19 }}</h3>
                  <h6>{{ .WorkshopSubtitle19 | markdownify }}</h6>
                  <p>{{ .WorkshopText19 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/digna_couso.jpg" alt="SteamConf digna couso">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle19A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText19A }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/DignaCouso">@DignaCouso</a>

                            </div> <!-- col -->

                        </div> <!-- row -->


                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/carme_grimalt.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle19B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText19B }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/carme_grimalt">@carme_grimalt</a>

                            </div> <!-- col -->

                        </div> <!-- row -->


                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/caterina_sole.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle19C }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText19C }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/caterinasm">@caterinasm</a>

                            </div> <!-- col -->

                        </div> <!-- row -->


                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/elia_tena.jpg" alt="SteamConf elia tena">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle19D }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText19D }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/eliatenag">@eliatenag</a>

                            </div> <!-- col -->

                        </div> <!-- row -->


                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">





</div>

<!---- coffee break  ---------------------------------------------------------->

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time07 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-coffee-cup.svg" alt="coffee break"></span> {{ .PausaCafe }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!------ 01 - Paralel workshops ------------------------->

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time02A }}</h3>
                <h4>{{ .Place02A }}</h4>

              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3>{{ .Title02A }}</h3>
                <h6>{{ .Subtitle02A }}</h6>
                <p>{{ .Text02A }}</p>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!------->
<div class="parallel-workshops-container">

<!------ 01 - When Things Fall Apart ( second part )  ------------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum02B }}</h1>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom02B }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage02B }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle02B }}</h3>
                  <h6>{{ .WorkshopSubtitle02B | markdownify }}</h6>
                  <p>{{ .WorkshopText02B }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/gever_tulley.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle02B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText02B }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/gever">@gever</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/mackenzie_price.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle02C }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText02C }}</p>

                              <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/HelenaArlequino">@HelenaArlequino</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!------ 02 - Design DOING Jam Session   -------------------------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum08 }}</h1>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom08 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage08 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle08 }}</h3>
                  <h6>{{ .WorkshopSubtitle08 | markdownify }}</h6>
                  <p>{{ .WorkshopText08 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/kaleb_rashad.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle08 }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText08 }}</p>

                                <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/kalebrashad">@kalebrashad</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">


<!---- 03 - Biomedicine, from the lab to the classroom; how basic research can connect scientific skills, science concepts and critical thinking  -------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum09 }}</h1>
                  <h3>{{ .WorkshopClassroom09 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom09 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage09 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle09 }}</h3>
                  <h6>{{ .WorkshopSubtitle09 | markdownify }}</h6>
                  <p>{{ .WorkshopText09 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/muriel_arimon.jpg" alt="steamconf Muriel Arimon i Bedós">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle09A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText09A }}</p>

                            <!--    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/FinaGuitart">@FinaGuitart</a> -->

                            </div> <!-- col -->

                         </div> <!-- row -->

                         <div class="row workshops-speakers-area-row">

                             <div class="col-md-3">

                                 <img class="page-text-container-image" src="../../../img/02/jordi_gaitan.jpg" alt="steamconf Jordi Gaitan i Clarà ">

                             </div> <!-- col -->

                             <div class="col-md-9">

                                 <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle09B }}</h4>

                                 <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText09B }}</p>

                                <!-- <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/FinaGuitart">@FinaGuitart</a> -->

                             </div> <!-- col -->

                          </div> <!-- row -->

                       </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">


<!---- 04 - Building STEAM knowledge: magnets and electrons, electromagnetism ---->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum10 }}</h1>
                  <h3>{{ .WorkshopClassroom10 }}</h3>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom10 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage10 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle10 }}</h3>
                  <h6>{{ .WorkshopSubtitle10 | markdownify }}</h6>
                  <p>{{ .WorkshopText10 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/jordi_regales.jpg" alt="steamconf Jordi Regales i Barta">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle10A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText10A }}</p>

                            <!--    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/AnnaCutler">@AnnaCutler</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/jordi_achon_masana.jpg" alt="steamconf Jordi Achon i Massana">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle10B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText10B }}</p>

                            <!--    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/AnnaCutler">@AnnaCutler</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/jaume_riera.jpg" alt="STEAMConf Jaume Riera">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle10C }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText10C }}</p>

                            <!--    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/AnnaCutler">@AnnaCutler</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!---- 05 - TAC resources as tools for support and creation in the artistic environment  --------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum11 }}</h1>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom11 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage11 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle11 }}</h3>
                  <h6>{{ .WorkshopSubtitle11 | markdownify }}</h6>
                  <p>{{ .WorkshopText11 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/eugenia_mestre.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle11A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText11A }}</p>

                                <!--<a class="page-text-container-section-a" target="_blank" href="https://twitter.com/AnnaCutler">@AnnaCutler</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/carme_marce.jpg" alt="steamconf carme marce">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle11B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText11B }}</p>

                              <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/pintoenr">@pintoenr</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/david_hispano.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle11C }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText11C }}</p>

                               <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/dhispano">@dhispano</a>

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!---- 06 - Why not build our own computer? Raspberry Pi, Scratch and Makey Makey; a great combination for primary education ------------------------------------------------->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum12 }}</h1>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom12 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage12 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle12 }}</h3>
                  <h6>{{ .WorkshopSubtitle12 | markdownify }}</h6>
                  <p>{{ .WorkshopText12 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/elies_vera.jpg" alt="steamconf Elies Vera Gormaz">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle12A }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText12A }}</p>

                              <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/BeduPhede">@BeduPhede</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->



                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/elena_guillen.jpg" alt="steamconf Elena Guillen Pérez">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle12B }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText12B }}</p>

                              <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->



                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/came_rodriguez.jpg" alt="steamconf Carme Rodriguez Latre">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle12C }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText12C }}</p>

                              <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->


                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/ana_valcavaro.jpg" alt="steamconf Ana Valcávaro">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle12D }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText12D }}</p>

                              <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a>-->

                            </div> <!-- col -->

                        </div> <!-- row -->

                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!---- 07 - Live Coding Education with Sonic Pi ---->

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum13 }}</h1>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom13 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage13 }}</h6>
                  <h6><span class="orange">{{ i18n "requirements" }}:</span> {{ .WorkshopReq13 }}</h6>

                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle13 }}</h3>
                  <h6>{{ .WorkshopSubtitle13 | markdownify }}</h6>
                  <p>{{ .WorkshopText13 }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                      <div class="row workshops-speakers-area-row">

                          <div class="col-md-3">

                              <img class="page-text-container-image" src="../../../img/02/sam_aaron.jpg" alt="steamconf Sam Aaron">

                          </div> <!-- col -->

                          <div class="col-md-9">

                              <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle13 }}</h4>

                              <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText13 }}</p>

                            <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/BeduPhede">@BeduPhede</a> -->

                          </div> <!-- col -->

                      </div> <!-- row -->

                    </div> <!-- row workshops-speakers-area -->

                </div><!-- paralel-workshop-row -->

                <hr class="page-hr">

<!---- 08 - Perform Big Van Theory, how to configure a performance ------------>

              <div class="row workshops-row paralel-workshop-row">

                <div class="col-md-3 paralel-content-time">

                  <h1 class="paralel-workshop-number">{{ .WorkshopNum14 }}</h1>
                  <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom12 }}</h6>
                  <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage12 }}</h6>


                </div>  <!-- col content-time -->

                <div class="col-md-9 content-workshops-info paralel-workshops-info">

                  <h3>{{ .WorkshopTitle14 }}</h3>
                  <h6>{{ .WorkshopSubtitle14 | markdownify }}</h6>
                  <p>{{ .WorkshopText14 }}</p>

                  <h5 class="workshop-undelined-title">{{ .WorkshopText14A }}</h6>

                  <h6>{{ .WorkshopText14B }}</h6>
                  <p>{{ .WorkshopSubText14B }}</p>

                  <h6>{{ .WorkshopText14C }}</h6>
                  <p>{{ .WorkshopSubText14C }}</p>

                  <h6>{{ .WorkshopText14D }}</h6>
                  <p>{{ .WorkshopSubText14D }}</p>

                  <h6>{{ .WorkshopText14E }}</h6>
                  <p>{{ .WorkshopSubText14E }}</p>

                </div>  <!-- col content-schedule-info -->

                <!-------------------------- workshops-speakers-row ----------->

                    <div class="container workshops-speakers-area">

                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/helena_gonzalez.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle14F }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText14F }}</p>

                               <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/HelenaArlequino">@HelenaArlequino</a>

                            </div> <!-- col -->

                        </div> <!-- row -->



                        <div class="row workshops-speakers-area-row">

                            <div class="col-md-3">

                                <img class="page-text-container-image" src="../../../img/02/oriol_marimon.jpg" alt="">

                            </div> <!-- col -->

                            <div class="col-md-9">

                                <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle14G }}</h4>

                                <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText14G }}</p>

                            <!--  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/ICFOnians">@ICFOnians</a> -->

                            </div> <!-- col -->

                        </div> <!-- row -->


                      </div> <!-- row workshops-speakers-area -->

                    </div><!-- paralel-workshop-row -->

                    <hr class="page-hr">

<!---- 09 - Artistic Synapses ---->

            <div class="row workshops-row paralel-workshop-row">

              <div class="col-md-3 paralel-content-time">

                <h1 class="paralel-workshop-number">{{ .WorkshopNum15 }}</h1>
                <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom15 }}</h6>
                <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage15 }}</h6>
                <h6><span class="orange">{{ i18n "requirements" }}:</span> {{ .WorkshopReq15 }}</h6>

              </div>  <!-- col content-time -->

              <div class="col-md-9 content-workshops-info paralel-workshops-info">

                <h3>{{ .WorkshopTitle15 }}</h3>
                <h6>{{ .WorkshopSubtitle15 | markdownify }}</h6>
                <p>{{ .WorkshopText15 }}</p>

              </div>  <!-- col content-schedule-info -->

              <!-------------------------- workshops-speakers-row ----------->

                  <div class="container workshops-speakers-area">

                      <div class="row workshops-speakers-area-row">

                          <div class="col-md-3">

                              <img class="page-text-container-image" src="../../../img/02/miriam_marti.jpg" alt="steamconf Míriam Martí Pallarès">

                          </div> <!-- col -->

                          <div class="col-md-9">

                              <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle15 }}</h4>

                              <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText15 }}</p>

                          <!--    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/kalebrashad">@kalebrashad</a> -->

                          </div> <!-- col -->

                      </div> <!-- row -->

                    </div> <!-- row workshops-speakers-area -->

                  </div><!-- paralel-workshop-row -->

                  <hr class="page-hr">
<!------->

<!---- 10 - Hacking STEM ---->

            <div class="row workshops-row paralel-workshop-row">

              <div class="col-md-3 paralel-content-time">

                <h1 class="paralel-workshop-number">{{ .WorkshopNum20 }}</h1>
                <h3>{{ .WorkshopClassroom20 }}</h3>
                <h6><span class="orange">{{ i18n "classroom" }}:</span> {{ .WorkshopClassroom20 }}</h6>
                <h6><span class="orange">{{ i18n "language" }}:</span> {{ .WorkshopLanguage20 }}</h6>


              </div>  <!-- col content-time -->

              <div class="col-md-9 content-workshops-info paralel-workshops-info">

                <h3>{{ .WorkshopTitle20 }}</h3>
                <h6>{{ .WorkshopSubtitle20 | markdownify }}</h6>
                <p>{{ .WorkshopText20 }}</p>

              </div>  <!-- col content-schedule-info -->

              <!-------------------------- workshops-speakers-row ----------->

                  <div class="container workshops-speakers-area">

                      <div class="row workshops-speakers-area-row">

                          <div class="col-md-3">

                              <img class="page-text-container-image" src="../../../img/02/alba_rodriguez.jpg" alt="steamconf Alba Rodríguez Agüero">

                          </div> <!-- col -->

                          <div class="col-md-9">

                              <h4 class="page-text-container-title">{{ .WorkshopSpeakerTitle20 }}</h4>

                              <p class="Speaker-committe-section-p speakers-page-p">{{ .WorkshopSpeakerText20 }}</p>

                          <!--    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/kalebrashad">@kalebrashad</a> -->

                          </div> <!-- col -->

                      </div> <!-- row -->

                    </div> <!-- row workshops-speakers-area -->

                  </div><!-- paralel-workshop-row -->

                  <hr class="page-hr">
<!------->


</div>



      </div> <!-- container -->

      {{ partial "js.html" . }}

      {{ partial "page-footer.html" . }}

      {{ end }}

    </body>
</html>
