{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.schedule }}

    {{ partial "page-header.html" . }}

  </head>
    <body class="page-body">

      {{ partial "page-nav.html" . }}

      <div class="page-header-section-about">
        <h1 class="page-header-title">{{ .PageHeaderSchedule }}</h1>
      </div>   <!-- page-header-section-about -->

      <div class="title-dots page-dots"></div>  <!-- page-dots -->

      <div class="container schedule-container">

<!--  saturday, may 30  ------------------------------------------------------->

        <div class="content-date-title">

          <h2>{{ .Date01 }}</h2>

        </div>  <!-- content-date-title -->

        <hr class="page-hr">


<!--- EDCAMP ------------------------------------------------------------------>

        <div class="row schedule-row">

            <div class="col-md-3 content-schedule-time">

                <h3>{{ .Time02 }}</h3>
                <div class="time-border"></div>

            </div> <!-- row -->

        <div class="col-md-6 content-schedule-info">

            <h3>{{ .Title02 }}</h3>
            <h4>{{ .Subtitle02 }}</h4>

        </div>  <!-- content-schedule-info -->

        <div class="col-md-3 content-location">

            <h3>{{ .Place02 }}</h3>
            <h4>{{ .Classroom02 }}</h4>

        </div>  <!-- content-location -->

            </div>  <!-- row -->


        <hr class="page-hr">


<!--  thursday, april 4th  -------------------------------------------------------->

        <div class="content-date-title">

          <h2>{{ .Date03 }}</h2>

        </div>  <!-- content-date-title -->


<!--  PERFOMANCE UNESCO  ------------------------------------------------------>

        <hr class="page-hr">

        <div class="row schedule-row">

          <div class="col-md-3 content-schedule-time">

            <h3>{{ .Time04 }}</h3>
            <div class="time-border"></div>

          </div>  <!-- content-schedule-time -->


          <div class="col-md-6 content-schedule-info">

            <h3>{{ .Title04B }}</h3>
            <h6 class="content-language-notice">{{ .LanguageNotice04 }}</h6>
            <h6>{{ .SubTitle04 }}</h6>


          </div>  <!-- content-schedule-info -->

          <div class="col-md-3 content-location">

            <h3>{{ .Place04 }}</h3>
            <h4>{{ .Classroom04 }}</h4>

          </div>  <!-- content-location -->

        </div>  <!-- row -->

        <hr class="page-hr">

<!---- CONVERSATION ----------------------------------------------------------->

          <div class="row workshops-row">

            <div class="col-md-3 content-schedule-time">

              <h3>{{ .Time05 }} </h3>
              <div class="time-border"></div>


            </div>  <!-- content-schedule-time -->

            <div class="col-md-9 content-schedule-info">

              <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

            </div>  <!-- content-schedule-info -->

          </div>  <!-- row -->

          <hr class="page-hr">


<!--  friday, april 5th  -------------------------------------------------------->

        <div class="content-date-title">

          <h2>{{ .Date06 }}</h2>

        </div>  <!-- content-date-title -->

        <hr class="page-hr">

<!--  Workshops --------------------------------------------------------------->

        <div class="row schedule-row">

          <div class="col-md-3 content-schedule-time">

            <h3>{{ .Time07 }}</h3>
            <div class="time-border"></div>

          </div>  <!-- content-schedule-time -->

          <div class="col-md-6 content-schedule-info">

            <h3>{{ .Title07 }}</h3>
            <h6>{{ .Subtitle07 }}</h6>

          </div>  <!-- content-schedule-info -->

          <div class="col-md-3 content-location">

            <h3>{{ .Place07 }}</h3>
            <h4>{{ .Classroom07 }}</h4>

          </div>  <!-- content-location -->

        </div>  <!-- row -->

        <hr class="page-hr">

<!--  Paralel Workshops Morning ----------------------------------------------->

        <div class="row schedule-row">

          <div class="col-md-3 content-schedule-time">

            <h3>{{ .Time08 }}</h3>
            <div class="time-border"></div>

          </div>  <!-- content-schedule-time -->

          <div class="col-md-6 content-schedule-info">

            <h3>{{ .Title08 }}</h3>
            <h6>{{ .Subtitle08 }}</h6>

          </div>  <!-- content-schedule-info -->

          <div class="col-md-3 content-location">

            <h3>{{ .Place08 }}</h3>
            <h4>{{ .Classroom08 }}</h4>

          </div>  <!-- content-location -->

        </div>  <!-- row -->

        <hr class="page-hr">

<!--  01 ----------------------->

<!------  coffee break  ------------------------------------------------------->

            <div class="row workshops-row">

              <div class="col-md-3 content-schedule-time">

                <h3>{{ .Time16 }} </h3>
                <div class="time-border"></div>


              </div>  <!-- content-schedule-time -->

              <div class="col-md-9 content-schedule-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-coffee-cup.svg" alt="coffee break"></span> {{ .PausaCafe }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!--  Paralel Workshops Aftenoon ---------------------------------------------->

            <div class="row schedule-row">

              <div class="col-md-3 content-schedule-time">

                <h3>{{ .Time17 }}</h3>
                <div class="time-border"></div>

              </div>  <!-- content-schedule-time -->

              <div class="col-md-6 content-schedule-info">

                <h3>{{ .Title17 }}</h3>
                <h6>{{ .Subtitle17 }}</h6>

              </div>  <!-- content-schedule-info -->

              <div class="col-md-3 content-location">

                <h3>{{ .Place17}}</h3>
                <h4>{{ .Classroom17 }}</h4>

              </div>  <!-- content-location -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!--  01 ----------------------->

<!--  Lunch ------------------------------------------------------------------->


       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time26 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title26 }}</h3>
           <h6>{{ .Subtitle26 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place26 }}</h3>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

<!--  Row 0 Welcome ------------------------------------------------------------------->

      <hr class="page-hr">

       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time27 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title27 }}</h3>
           <h6>{{ .Subtitle27 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place27 }}</h3>
           <h4>{{ .Classroom27 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->


<!--  Conference registry ------------------------------------------------------------------->

      <hr class="page-hr">

       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time28 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title28 }}</h3>
           <h6 class="content-language-notice">{{ .LanguageNotice28 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place28 }}</h3>

         </div>  <!-- content-location -->

       </div>  <!-- row -->


<!--  Conference Opening ------------------------------------------------------------------->

      <hr class="page-hr">

       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time29 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title29A }}</h3>
           <h6>{{ .Subtitle29A }}</h6>
           <p></p>
           <h3>{{ .Title29B }}</h3>
           <h6>{{ .Subtitle29B }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place29 }}</h3>
           <h4>{{ .Classroom29 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->


<!--  Sesion 01 ------------------------------------------------------------------->

      <hr class="page-hr">

       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time30 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title30 }}</h3>
           <h6>{{ .Subtitle30 }}</h6>
           <h6><span class="orange">Local Peer:</span> {{ .LocalPeer30 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place30 }}</h3>
           <h4>{{ .Classroom30 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

       <hr class="page-hr">

<!---- CONVERSATION ----------------------------------------------------------->

          <div class="row workshops-row">

            <div class="col-md-3 content-schedule-time">

              <h3>{{ .Time31 }} </h3>
              <div class="time-border"></div>


            </div>  <!-- content-schedule-time -->

            <div class="col-md-9 content-schedule-info">

              <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

            </div>  <!-- content-schedule-info -->

          </div>  <!-- row -->

          <hr class="page-hr">

<!------  coffee break  ------------------------------------------------------->

            <div class="row workshops-row">

              <div class="col-md-3 content-schedule-time">

                <h3>{{ .Time32 }} </h3>
                <div class="time-border"></div>


              </div>  <!-- content-schedule-time -->

              <div class="col-md-9 content-schedule-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-coffee-cup.svg" alt="coffee break"></span> {{ .PausaCafe }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!-- 02 - It looks like fun, but are they learning? ------------------->

       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time33 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title33 }}</h3>
           <h6>{{ .Subtitle33 }}</h6>
           <h6><span class="orange">Local Peer:</span> {{ .LocalPeer33 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place33 }}</h3>
           <h4>{{ .Classroom33 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

       <hr class="page-hr">

<!---- CONVERSATION ----------------------------------------------------------->

          <div class="row workshops-row">

            <div class="col-md-3 content-schedule-time">

              <h3>{{ .Time34 }} </h3>
              <div class="time-border"></div>


            </div>  <!-- content-schedule-time -->

            <div class="col-md-9 content-schedule-info">

              <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

            </div>  <!-- content-schedule-info -->

          </div>  <!-- row -->

          <hr class="page-hr">


<!-- 03 - Sonic Pi and Education ---------------------------------------------->

       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time35 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title35 }}</h3>
           <h6>{{ .Subtitle35 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place35 }}</h3>
           <h4>{{ .Classroom35 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

       <hr class="page-hr">


<!---- Conversation and Live Music Performance -------------------------------->

          <div class="row workshops-row">

            <div class="col-md-3 content-schedule-time">

              <h3>{{ .Time35A }} </h3>
              <div class="time-border"></div>


            </div>  <!-- content-schedule-time -->

            <div class="col-md-9 content-schedule-info">

              <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .ConversationMusicPerformance }}</h3>

            </div>  <!-- content-schedule-info -->

          </div>  <!-- row -->

          <hr class="page-hr">


<!--  saturday, april 6th  ------------------------------------------------------->

        <div class="content-date-title">

          <h2>{{ .Date36 }}</h2>

        </div>  <!-- content-date-title -->

        <hr class="page-hr">

<!--  04 - Engagement First, Pathways to Intrinsically Motivated Learning -------->

       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time37 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title37 }}</h3>
           <h6>{{ .Subtitle37 }}</h6>
           <h6><span class="orange">Local Peer:</span> {{ .LocalPeer33 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place37 }}</h3>
           <h4>{{ .Classroom37 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

       <hr class="page-hr">

<!---- CONVERSATION ----------------------------------------------------------->

          <div class="row workshops-row">

            <div class="col-md-3 content-schedule-time">

              <h3>{{ .Time38 }} </h3>
              <div class="time-border"></div>


            </div>  <!-- content-schedule-time -->

            <div class="col-md-9 content-schedule-info">

              <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

            </div>  <!-- content-schedule-info -->

          </div>  <!-- row -->

          <hr class="page-hr">

<!------  coffee break  ------------------------------------------------------->

            <div class="row workshops-row">

              <div class="col-md-3 content-schedule-time">

                <h3>{{ .Time39 }} </h3>
                <div class="time-border"></div>


              </div>  <!-- content-schedule-time -->

              <div class="col-md-9 content-schedule-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-coffee-cup.svg" alt="coffee break"></span> {{ .PausaCafe }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!--  Sesion 05 ------------------------------------------------------------------->


       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time40 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title40 }}</h3>
           <h6>{{ .Subtitle40 }}</h6>
           <h6><span class="orange">Local Peer:</span> {{ .LocalPeer33 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place40 }}</h3>
           <h4>{{ .Classroom40 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

       <hr class="page-hr">

<!---- CONVERSATION ----------------------------------------------------------->

          <div class="row workshops-row">

            <div class="col-md-3 content-schedule-time">

              <h3>{{ .Time41 }} </h3>
              <div class="time-border"></div>


            </div>  <!-- content-schedule-time -->

            <div class="col-md-9 content-schedule-info">

              <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

            </div>  <!-- content-schedule-info -->

          </div>  <!-- row -->

          <hr class="page-hr">


<!--  06  School for What? ------------------------------------------------------------------->


       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time42 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title42 }}</h3>
           <h6>{{ .Subtitle42 }}</h6>
           <h6><span class="orange">Local Peer:</span> {{ .LocalPeer42 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place42 }}</h3>
           <h4>{{ .Classroom42 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

       <hr class="page-hr">


<!-- 07 - Creating the next generation of schools Farewell conversation ------------------------------------------------------------------>


       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time43 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title43 }}</h3>
           <h6 id="farewell-conversation">{{ .Subtitle43A }}</h6>
           <h6>{{ .Subtitle43B }}</h6>
           <h6><span class="orange">Peers:</span> {{ .LocalPeer43 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place43 }}</h3>
           <h4>{{ .Classroom43 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

       <hr class="page-hr">


<!--  conference closing ------------------------------------------------------------------->


       <div class="row schedule-row">

         <div class="col-md-3 content-schedule-time">

           <h3>{{ .Time44 }}</h3>
           <div class="time-border"></div>

         </div>  <!-- content-schedule-time -->

         <div class="col-md-6 content-schedule-info">

           <h3>{{ .Title44 }}</h3>
           <h6>{{ .Subtitle44 }}</h6>

         </div>  <!-- content-schedule-info -->

         <div class="col-md-3 content-location">

           <h3>{{ .Place44 }}</h3>
           <h4>{{ .Classroom44 }}</h4>

         </div>  <!-- content-location -->

       </div>  <!-- row -->

       <hr class="page-hr">



    </div>  <!-- schedule-container -->


      {{ partial "js.html" . }}

      {{ partial "page-footer.html" . }}

    </body>
</html>

{{ end }}
