{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.about }}

    {{ partial "page-header.html" . }}

    <body class="page-body">

      {{ partial "page-nav.html" . }}

      <div class="page-header-section-about">
        <h1 class="page-header-title">{{ .PageHeaderAbout }}</h1>
      </div>

      <div class="title-dots page-dots"></div>

      <div class="container page-text-container">

        <div class="row">

          <div class="col-md-6">

            <h2 class="page-h2-highlight">{{ .Info02 }}</h2>
            <p class="page-highlight-subtitle">{{ .Info02A }}</p>

          </div> <!-- col -->

          <div class="col-md-6 about-text-container-right">
            <p>{{ .Info01 }}</p>
            <p>{{ .Info01A }}</p>
            <p>{{ .Info03 }}</p>
          </div> <!-- col -->

        </div>

        <div class="page-text-container-section steering-committe-section">

            <h1 class="page-text-container-section-h1">{{ .SteeringTitle01 }}</h1>

            <h1 class="page-text-container-section-h2">{{ .SteeringSubtitle01 }}</h1>

            <div class="title-dots page-dots"></div>

<!-------------------------------------------- mariona_ciller & paca_ciller ----------------------------->

            <div class="page-text-container-group">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                  <img class="page-text-container-image" src="../../../img/04/mariona_ciller.jpg" alt="SteamConf steering committe mariona ciller">

                  <h2 class="page-text-container-title">{{ .ItemSteeringTitle01 }}</h2>

                  <h4 class="page-text-container-subtitle">{{ .ItemSteeringSubtitle01 }}</h4>

                  <p class="steering-committe-section-p">{{ .ItemSteeringText01 }}</p>

                  <a class="page-text-container-section-a" href="mailto:mariona@2016.steamconf.com">mariona@2016.steamconf.com</a> / <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/mariondita">@mariondita</a>

                </div>  <!-- col -->

                <div class="col-md-6 organizer-right">

                    <img class="page-text-container-image" src="../../../img/04/paca_ciller.jpg" alt="SteamConf steering committe paca ciller">


                    <h2 class="page-text-container-title">{{ .ItemSteeringTitle02 }}</h2>

                    <h4 class="page-text-container-subtitle">{{ .ItemSteeringSubtitle02 }}</h4>

                    <p class="steering-committe-section-p">{{ .ItemSteeringText02 }}</p>

                    <a class="page-text-container-section-a" href="mailto:pacaciller@2017.steamconf.com">pacaciller@2017.steamconf.com</a>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->




            <div class="spacer"></div>

            <h1 class="page-text-container-section-h2">{{ .SteeringSubtitle02 }}</h1>


              <div class="title-dots page-dots"></div>





<!-------------------------------------------- jordi_albo & begonya_folch ----------------------------->

            <div class="page-text-container-group">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                    <img class="page-text-container-image" src="../../../img/04/jordi_albo.jpg" alt="SteamConf steering committe">

                    <h2 class="page-text-container-title">{{ .ItemSteeringTitle03 }}</h2>

                    <p class="steering-committe-section-p">{{ .ItemSteeringText03 }}</p>

                    <a class="page-text-container-section-a" href="mailto:jalbo@salle.url.edu">jalbo@salle.url.edu</a> / <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/jalbocanals">@jalbocanals</a>

                </div>  <!-- col -->

                <div class="col-md-6 organizer-right">

                    <img class="page-text-container-image" src="../../../img/04/begonya_folch.jpg" alt="SteamConf steering committe">

                    <h2 class="page-text-container-title">{{ .ItemSteeringTitle04 }}</h2>

                    <p class="steering-committe-section-p">{{ .ItemSteeringText04 }}</p>

                    <a class="page-text-container-section-a" href="mailto:b.folch@gmail.com">b.folch@gmail.com </a> / <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/Begonya">@Begonya</a>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->





<!--------------------------------------------  ----------------------------->

            <div class="page-text-container-group">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                  <img class="page-text-container-image" src="../../../img/04/sergi_moral.jpg"  alt="SteamConf steering committe">

                  <h2 class="page-text-container-title">{{ .ItemSteeringTitle07 }}</h2>

                  <p class="steering-committe-section-p">{{ .ItemSteeringText07 }}</p>

                  <a class="page-text-container-section-a" href="mailto:smoral3@xtec.cat">smoral3@xtec.cat</a> / <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/sergidelmoral">@sergidelmoral</a>




                </div>  <!-- col -->

                <div class="col-md-6 organizer-right">

                    <img class="page-text-container-image" src="../../../img/04/julio-perez.jpg" alt="SteamConf steering committe">

                  <h2 class="page-text-container-title">{{ .ItemSteeringTitle06 }}</h2>

                  <p class="steering-committe-section-p">{{ .ItemSteeringText06 }}</p>

                    <a class="page-text-container-section-a" href="mailto:coral.regi@virolai.com">jpere239@xtec.cat</a> / <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/pereztud">@pereztud</a>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->



<!-------------------------------------------- sergi_moral & coral_regi ----------------------------->

            <div class="page-text-container-group">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                  <img class="page-text-container-image" src="../../../img/04/coral_regi.jpg" alt="SteamConf steering committe">

                  <h2 class="page-text-container-title">{{ .ItemSteeringTitle08 }}</h2>

                  <p class="steering-committe-section-p">{{ .ItemSteeringText08 }}</p>

                  <a class="page-text-container-section-a" href="mailto:coral.regi@virolai.com">coral.regi@virolai.com</a> / <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/coralregi">@coralregi</a>


                </div>  <!-- col -->

                <div class="col-md-6 organizer-right">

                      <img class="page-text-container-image" src="../../../img/04/frank_sabate_a.jpg" alt="SteamConf steering committe">

                      <h2 class="page-text-container-title">{{ .ItemSteeringTitle09 }}</h2>

                      <p class="steering-committe-section-p">{{ .ItemSteeringText09 }}</p>

                      <a class="page-text-container-section-a" href="mailto:fsabate@fundaciocim.org">fsabate@fundaciocim.org</a> / <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/FSabateD">@FSabateD</a>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


<!-------------------------------------------- frank_sabate & francesc_sabate ----------------------------->

            <div class="page-text-container-group">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-right">

                      <img class="page-text-container-image" src="../../../img/04/frank_sabate_b.jpg" alt="SteamConf steering committe">

                      <h2 class="page-text-container-title">{{ .ItemSteeringTitle10 }}</h2>

                      <p class="steering-committe-section-p">{{ .ItemSteeringText10 }}</p>

                      <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/franksabate">@franksabate</a>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->

</div>
      </div>

      {{ partial "js.html" . }}

      {{ partial "page-footer.html" . }}

      {{ end }}

    </body>
</html>
