<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="STEAMConf arriba a la seva cinquena edició reunint a Barcelona un grup excepcional de creadors locals i internacionals que, en el seu dia a dia, aborden el món des d’una perspectiva (A) i amb la visió integral que afavoreix l’STE(A)M.">
    <meta name="author" content="SokoTech">
    <link rel="shortcut icon" type="image/png" href="../../../img/00/steamconf-icon-36x36.png">
    <base href="{{ .Site.SiteURL }}">
  
    <title>SteamConf 2019</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.SiteURL }}/styles/custom.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- raleway font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
