<!-- Modal -->
<div class="modal hide fade" id="st2020" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">STEAMConf 2020 Live!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ .ModalText }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary st2020-btn"><a href="https://2020.steamconf.com">{{ .ModalBtnText }}</a></button>
      </div>
    </div>
    </div>
</div>

<div class="bg-section">

  <div class="bg-mask">

    <div class="bg-information container">

      <div class="bg-info-title">
        <h1>STEAMConf Barcelona 2019</h1>
      </div> <!-- bg-info-title -->

      <div class="bg-info-subtitle">
        <h4>{{ .BgSubtitle01 }}</h4>
        <h4>{{ .BgSubtitle02 }}</h4>
      </div> <!-- bg-info-subtitle -->

      <div class="bg-info-buttons">

        <div class="row">

          <div id="bg-button-01" class="col-md-3 col-xs-12">
            <a href="program"><button type="button" class="bg-info-button-element">{{ i18n "program" }}</button></a>
          </div> <!-- col -->

          <div id="bg-button-02" class="col-md-3 col-xs-12">
            <a href="registry"><button type="button" class="bg-info-button-element">{{ i18n "registry" }}</button></a>
          </div> <!-- col -->

          <div id="bg-button-03" class="col-md-3 col-xs-12">
            <a href="#how-to-arrive"><button type="button" class="bg-info-button-element">{{ i18n "arrive" }}</button></a>
          </div> <!-- col -->

        </div> <!-- row -->

      </div> <!-- bg-info-buttons -->

    </div> <!-- bg-info -->

  </div> <!-- bg-mask -->

</div> <!-- bg-section -->
