<div class="home-footer-section" id="how-to-arrive">

  <div class="container">

    <div class="home-footer-section-text">

      <h1 class="home-footer-title-01">{{ .HomeFooterSectionTitle01 }}</h1>

      <div class="title-dots page-dots"></div>

      <div class="home-footer-address">



      </div>


      <div class="row">

        <div class="col-md-3 arrive-col">

            <img class="how-to-arrive-icon" src="../../../img/01/steamconf-icon-address.svg" alt="STEAMConf address">

            <h5 id="home-footer-title-01"><strong>{{ .HomeFooterSectionTitleDirection }}</strong></h5>

            <p class="home-footer-text-01">C / Isaac Newton, 26 (Ronda de Dalt)<br>
            +34 900 22 30 40 / +34  93 212 60 50<br>
            <a class="black" href="https://cosmocaixa.com" target="_blank"><strong>cosmocaixa.com</strong></a><br>
            <a class="black" href="https://obrasociallacaixa.org" target="_blank"><strong>obrasociallacaixa.org</strong></a></p>
        </div>


        <div class="col-md-3 arrive-col">

        <img class="how-to-arrive-icon" src="../../../img/01/steamconf-icon-bus.svg" alt="STEAMConf arrive by bus">

        <h5 id="home-footer-title-03"><strong>{{ .HomeFooterSectionTitle03 }}</strong></h5>
        <p class="home-footer-text-03">H2 / H4 / V17 / V15 / V19 / V13 / 73 / 75 / 22 / 196<br>
        <a class="black" href="https://www.tmb.cat/es/barcelona/autobuses/lineas" target="_blank"><strong>www.tmb.cat</strong></a></p>
        </div>  <!-- col -->


        <div class="col-md-3 arrive-col">

          <img class="how-to-arrive-icon" src="../../../img/01/steamconf-icon-car.svg" alt="STEAMConf arrive by car">

          <h5 id="home-footer-title-02"><strong>{{ .HomeFooterSectionTitle02 }}</strong></h5>
          <p class="home-footer-text-02">{{ .HomeFooterSectionText02 }}</p>

          <h5 id="home-footer-title-05"><strong>{{ .HomeFooterSectionTitle05 }}</strong></h5>
          <p class="home-footer-text-05">{{ .HomeFooterSectionText05 }}</p>

        </div>  <!-- col -->




        <div class="col-md-3 arrive-col">

        <img class="how-to-arrive-icon" src="../../../img/01/steamconf-icon-train.svg" alt="STEAMConf arrive by train">

          <h5 id="home-footer-title-04"><strong>{{ .HomeFooterSectionTitle04 }}</strong></h5>
          <p class="home-footer-text-03">{{ .HomeFooterSectionText04 }}<br>
          <a class="black" href="https://www.fgc.cat/" target="_blank"><strong>www.fgc.cat</strong></a>

        </div>  <!-- col -->


      </div>



    </div> <!-- home-footer-section-text -->

  </div> <!-- container  -->

<div class="footer-map">

  <a class="footer-map-button" href="https://www.google.com/maps/place/CosmoCaixa+Barcelona/@41.412972,2.1293623,17z/data=!3m2!4b1!5s0x12a4981a6bb7cae9:0xe730d3499041ecab!4m5!3m4!1s0x12a4981a24a1d9cd:0x20158071eb4f77f3!8m2!3d41.412972!4d2.131551" target="_blank"><img src="../../../img/03/steamconf-cosmocaixa-map.jpg" alt="steamconf cosmocaixa"></a>

</div>

</div> <!-- home-footer-section  -->



<div class="home-sub-footer">

  <div class="container home-sub-footer-container">

    <div class="home-sub-footer-contact">

      <h1 class="home-sub-footer-title">{{ .HomeSubFooterTitle }}</h1>

      <div class="title-dots page-dots contact-dots"></div>

      <a class="home-sub-footer-item" href="mailto:hello@steamconf.com"><p class="home-sub-footer-text">hello@steamconf.com</p></a>

      <a class="home-sub-footer-item" href=""><p class="home-sub-footer-text">+34 93 212 60 50</p></a>

        <p class="home-sub-footer-submenu">
        <a class="home-sub-footer-item-01" href="registry">{{ i18n "registry" }}</a>  •
        <a class="home-sub-footer-item-02" href="program">{{ i18n "program" }}</a>  •
        <a class="home-sub-footer-item-03" href="schedule">{{ i18n "schedule" }}</a>  •
        <a class="home-sub-footer-item-04" href="workshops">{{ i18n "workshops" }}</a>  •
        <a class="home-sub-footer-item-05" href="speakers">{{ i18n "speakers" }}</a>  •
        <a class="home-sub-footer-item-06" href="about">{{ i18n "about" }}</a>
        </p>

    </div> <!-- home-sub-footer -->

  </div>

  <div class="home-sub-footer-robot">

    <img src="../../../img/01/steamconf-robot-02.svg" alt="steamconfrobot">

  </div>

</div> <!-- home-sub-footer-contact -->
