<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ partial "schema" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="STEAMConf reaches its fifth edition, bringing together in Barcelona an exceptional group of local and international creators who, in their day to day, address the world from a perspective (A) and with the integral vision that favors the STE(A)M">
    <meta name="author" content="SokoTech">
    <link rel="shortcut icon" type="image/png" href="../../../img/00/steamconf-icon-36x36.png">
    <base href="{{ .Site.SiteURL }}">

    <title>SteamConf 2019</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.SiteURL }}/styles/custom.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- raleway font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        document.getElementById("go-to-top-button").style.display = "block";
      } else {
        document.getElementById("go-to-top-button").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>

</head>
