<div class="bg-section">

  <div class="bg-mask">

    <div class="bg-information container">

      <div class="bg-info-title">
        <h1>STEAMConf Barcelona 2019</h1>
      </div> <!-- bg-info-title -->

      <div class="bg-info-subtitle">
        <h4>{{ .item.BgSubtitle01 }}</h4>
        <h4>{{ .item.BgSubtitle02 }}</h4>
      </div> <!-- bg-info-subtitle -->

      <div class="bg-info-buttons">

        <div class="row">

          <div id="bg-button-01" class="col-md-3 col-xs-12">
            <a href="program"><button type="button" class="bg-info-button-element">Programa</button></a>
          </div> <!-- col -->

          <div id="bg-button-02" class="col-md-3 col-xs-12">
            <a href="registry"><button type="button" class="bg-info-button-element">Registrate</button></a>
          </div> <!-- col -->

          <div id="bg-button-03" class="col-md-3 col-xs-12">
            <a href="#how-to-arrive"><button type="button" class="bg-info-button-element">Como llegar</button></a>
          </div> <!-- col -->

        </div> <!-- row -->

      </div> <!-- bg-info-buttons -->

    </div> <!-- bg-info -->

  </div> <!-- bg-mask -->

</div> <!-- bg-section -->
