<div class="home-workshops-section">

  <div class="container">

    <div class="home-workshops-section-img">
      <img src="../img/01/steamconf_gears.svg" alt="steamconf-gears">
    </div>

    <div class="home-workshops-section-text">

      <h1 class="home-workshops-title">{{ .HomeWorkshopsSectionTitle}}</h1>

      <div class="title-dots page-dots right-dots"></div>

      <p class="home-workshops-text">{{ .HomeWorkshopsText }}</p>

      <a href="workshops"><button type="button" name="home-workshops-section-button">{{ .HomeWorkshopsButton }}</button></a>

    </div>

  </div>

</div>
