<div class="home-footer-section" id="how-to-arrive">

  <div class="container">

    <div class="home-footer-section-text">

      <h1 class="home-footer-title-01">{{ .item.HomeFooterSectionTitle01 }}</h1>

      <p class="home-footer-text-01">C / Isaac Newton, 26 (Ronda de Dalt)<br>
      +34 902 22 30 40 93 212 60 50 (centraleta CosmoCaixa) <br>
      <strong>obrasociallacaixa.org</strong></p>

      <h5 id="home-footer-title-02"><strong>{{ .item.HomeFooterSectionTitle02 }}</strong></h5>
      <p class="home-footer-text-02">{{ .item.HomeFooterSectionText02 }}</p>

      <h5 id="home-footer-title-03"><strong>{{ .item.HomeFooterSectionTitle03 }}</strong></h5>
      <p class="home-footer-text-03">www.tmb.cat (Nos. 17, 22, 58, 73, 75, 60, 196)</p>

      <h5 id="home-footer-title-04"><strong>{{ .item.HomeFooterSectionTitle04 }}</strong></h5>
      <p class="home-footer-text-04">www.fgc.es (Avinguda del Tibidabo)</p>

      <h5 id="home-footer-title-05"><strong>{{ .item.HomeFooterSectionTitle05 }}</strong></h5>
      <p class="home-footer-text-05">{{ .item.HomeFooterSectionText05 }}</p>

    </div> <!-- home-footer-section-text -->

  </div> <!-- container  -->

<div class="footer-map">

  <img src="../img/03/steamconf-cosmocaixa-map.jpg" alt="steamconf cosmocaixa">

</div>

</div> <!-- home-footer-section  -->





  <div class="home-sub-footer">

    <div class="home-sub-footer-contact">

      <h3 class="home-sub-footer-title">{{ .item.HomeSubFooterTitle }}</h3>

      <a class="home-sub-footer-item" href="mailto:hello@steamconf.com"><p class="home-sub-footer-text">hello@steamconf.com</p></a>

      <a class="home-sub-footer-item" href=""><p class="home-sub-footer-text">+34 987 67 76 90</p></a>

        <p class="home-sub-footer-submenu">
        <a class="home-sub-footer-item-01" href="">{{ i18n "registry" }}</a>  •
        <a class="home-sub-footer-item-02" href="">{{ i18n "program" }}</a>  •
        <a class="home-sub-footer-item-03" href="">{{ i18n "schedule" }}</a>  •
        <a class="home-sub-footer-item-04" href="">{{ i18n "workshops" }}</a>  •
        <a class="home-sub-footer-item-05" href="">{{ i18n "speakers" }}</a>  •
        <a class="home-sub-footer-item-06" href="">{{ i18n "about" }}</a>
        </p>

    </div> <!-- home-sub-footer -->

  </div> <!-- home-sub-footer-contact -->
