<div class="home-organizers-section">

  <div class="container home-organizers-container">

    <h1 class="home-organizers-section-title">{{ .HomeOrganizersSectionTitle }}</h1>

    <div class="title-dots page-dots organizer-dots"></div>

    <div class="container" id="organizers-logos">

      <div class="row">

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/01_dep_ensenyament_steamconf.png" alt="steamconf-dep-ensenyament">
        </div>  <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/02_ajuntament_barcelona_steamconf.png" alt="steamconf-ajuntament_barcelona">
        </div>  <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/03_educaixa_new_steamconf.png" alt="steamconf-educaixa">
        </div>  <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/04_sokotech_steamconf.png" alt="steamconf-sokotech">
        </div>  <!-- col -->

      </div> <!-- row -->

    </div> <!-- organizers-logos -->

    <h1 class="home-organizers-section-title">{{ .HomeCollaboratorsSectionTitle }}</h1>

    <div class="title-dots page-dots organizer-dots"></div>

    <div class="container" id="collaborators-logos">

      <div class="row collaborators-row">

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/05_fundacio_colserolla_steamconf.png" alt="steamconf-fundacio_colserolla">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/06_cccb_steamconf.png" alt="steamconf-cccb">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/07_uab_ice_steamconf.png" alt="steamconf-uab_ice">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/08_cesire1_steamconf.png" alt="steamconf-cesire">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/09_upc_steamconf.png" alt="steamconf-upc">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/19_elisava_steamconf.png" alt="steamconf-elisava">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/10_ub_ice_2_steamconf.png" alt="steamconf-ub_ice">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/11_ice_pallach_steamconf.png" alt="steamconf-ice_pallach">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/12_rovira_virgill_steamconf.png" alt="steamconf-rovira_virgill">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/13_lleida_ice_steamconf.png" alt="steamconf-lleida_ice">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/14_lasalle_steamconf.png" alt="steamconf-lasalle">
        </div> <!-- col -->

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/15_informatics_steamconf.png" alt="steamconf-informatics">
        </div> <!-- col -->

      </div> <!-- row -->


        <h1 class="home-organizers-section-title">{{ .HomeGlobalPartnersSectionTitle }}</h1>

        <div class="title-dots page-dots organizer-dots"></div>

      <div class="row collaborators-row">

        <div id="home-organizers-section-logo" class="col-md-3 col-sm-6">
          <img src="img/01/18_microsoft_steamconf.png" alt="steamconf-fundacio_colserolla">
        </div> <!-- col -->

      </div> <!-- row -->



      <div class="title-dots page-dots organizer-dots patronage-dots"></div>

      <div class="row unesco-row">

        <div id="home-organizers-section-logo" class="col-md-12 unesco-logo">
          <img class="patronage-unesco-logo" src="img/01/17_unesco_steamconf.svg" alt="steamconf-unesco">
        </div> <!-- col -->

      </div>

    </div> <!-- collaborators-logos -->

  </div> <!-- home-organizers-container -->

</div> <!-- home-organizers-section -->
