<div class="home-workshops-section">

  <div class="container">

    <div class="home-workshops-section-img">
      <img src="../img/01/steamconf_gears.svg" alt="steamconf-gears">
    </div>

    <div class="home-workshops-section-text">

      <h1 class="home-workshops-title">{{ .item.HomeWorkshopsSectionTitle}}</h1>

      <p class="home-workshops-text">{{ .item.HomeWorkshopsText }}</p>

      <a href="workshops"><button type="button" name="home-workshops-section-button">{{ .item.HomeWorkshopsButton }}</button></a>

    </div>

  </div>

</div>
