<div class="home-description-section">

  <div class="container">

    <div class="home-description-section-img">
      <img src="img/01/steamconf_atom.svg" alt="steamconf-atom">
    </div>

    <div class="home-description-section-text">

      <h1 class="home-description-title">{{ .HomeDescriptionTitle }}</h1>

      <p class="home-description-text">{{ .HomeDescriptionText }}</p>

      <a href="about"><button type="button" name="home-description-section-button">{{ .HomeDescriptionButton }}</button></a>

    </div>

  </div>



</div>
