<div class="home-speakers-section">

  <div class="container">

    <h1 class="home-speakers-section-title">{{ .HomeSpeakersSectionTitle }}</h1>

    <div class="title-dots">
      <div class="title-dots page-dots center-dots"></div>
    </div>

    <div class="home-speakers-section-robot">
      <img src="../../../img/01/steamconf-robot-03.svg" alt="steamconfrobot">
    </div>

    <div class="container" id="home-speakers-section-items-container">


    <!---------- speaker-item --------------------------------- oriol_marimon ----------------------->


    <div class="speaker-item-01">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-a">

              <a class="home-speaker-button" href="speakers#oriol">

                <div class="speaker-item" id="speaker-item-01">

                  <img id="speaker-item-img-01" src="../../../img/02/oriol_marimon.jpg" alt="steamconf-oriol-marimon">

                </div> <!-- speaker-item -->

              </a> <!-- speaker  -->

              <div class="circle" id="speaker-item-neongreen-circle"></div>

            </div>  <!-- col -->


            <div class="col-6" id="speaker-col-b">

              <a class="home-speaker-button" href="speakers#oriol">

              <div class="speaker-item-text" id="speaker-item-text-01">

                <h3>Oriol Marimon</h3>
                <h6>Big Van Ciencia</h6>

              </div>  <!-- speaker-item-text -->

              </a>

            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-01 -->



    <!---------- speaker-item --------------------------------- helena_gonzalez ----------------------->


    <div class="speaker-item-02">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-c">

            <a class="home-speaker-button" href="speakers#helena">

              <div class="speaker-item-text" id="speaker-item-text-02">
                <h3>Helena González</h3>
                <h6>Big Van Ciencia</h6>
              </div>

              </a>

            </div>  <!-- col -->


            <div class="col-6" id="speaker-col-d">

              <a class="home-speaker-button" href="speakers#helena">

                <div class="speaker-item" id="speaker-item-02">

                  <img  id="speaker-item-img-02"  id="speaker-item-img-02" src="../../../img/02/helena_gonzalez.jpg" alt="steamconf-helena-gonzález">

                </div> <!-- speaker-item -->

              </a> <!-- speaker  -->

              <div class="circle" id="speaker-item-lightpurple-circle"></div>


            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-02 -->



    <!---------- speaker-item --------------------------------- sam_aaron ----------------------->


    <div class="speaker-item-03">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-a">

              <a class="home-speaker-button" href="speakers#sam">

              <div class="speaker-item" id="speaker-item-03">

                <img id="speaker-item-img-03" src="../../../img/02/sam_aaron.jpg" alt="steamconf-sam-aaron">
                <div class="circle" id="speaker-item-lightblue-circle"></div>

              </div>

              </a>

            </div>  <!-- col -->


            <div class="col-6" id="speaker-col-b">

            <a class="home-speaker-button" href="speakers#sam">
              <div class="speaker-item-text" id="speaker-item-text-03">
                <h3>Sam Aaron</h3>
                <h6>Sonic Pi</h6>
              </div>
              </a>

            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-03 -->




    <!---------- speaker-item --------------------------------- Sebastian Martin ----------------------->



    <div class="speaker-item-04">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-c">

             <a class="home-speaker-button" href="speakers#karen">
              <div class="speaker-item-text" id="speaker-item-text-04">
                <h3>Sebastian Martin</h3>
                <h6>Tinkering Studio</h6>
              </div>
              </a>

            </div>


            <div class="col-6" id="speaker-col-d">

                <a class="home-speaker-button" href="speakers#sebastian">
                    <div class="speaker-item" id="speaker-item-04">
                    <img id="speaker-item-img-04" src="../../../img/02/sebastian_martin.jpg" alt="steamconf-karen-wilkinson">
                  </div>
                </a>

              <div class="circle" id="speaker-item-lightred-circle"></div>


            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-04 -->



    <!---------- speaker-item --------------------------------- gever_tulley ----------------------->


    <div class="speaker-item-07">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-a">

              <a class="home-speaker-button" href="speakers#gever">

              <div class="speaker-item" id="speaker-item-07">
                <img id="speaker-item-img-07" src="../../../img/02/gever_tulley.jpg" alt="steamconf-gever-tulley">

                <div class="circle" id="speaker-item-brown-circle"></div>
              </div>

              </a>

            </div>  <!-- col -->


            <div class="col-6" id="speaker-col-b">

              <a class="home-speaker-button" href="speakers#gever">

              <div class="speaker-item-text" id="speaker-item-text-07">
                <h3>Gever Tulley</h3>
                <h6>Brightworks</h6>
              </div>

              </a>

            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-07 -->




    <!---------- speaker-item --------------------------------- mackenzie_price ----------------------->



    <div class="speaker-item-08">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-c">

            <a class="home-speaker-button" href="speakers#mackenzie">

              <div class="speaker-item-text" id="speaker-item-text-08">
                <h3>Mackenzie Price</h3>
                <h6>Brightworks Teachers Institute</h6>
              </div>

              </a>

            </div>


            <div class="col-6" id="speaker-col-d">

                <a class="home-speaker-button" href="speakers#mackenzie">
                  <div class="speaker-item" id="speaker-item-08">
                    <img id="speaker-item-img-08" src="../../../img/02/mackenzie_price.jpg" alt="steamconf-mackenzie-price">
                  </div>
                  <div class="circle" id="speaker-item-green-circle"></div>
                </a>

            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-08 -->



    <!---------- speaker-item --------------------------------- juuso_henrik_nieminen ----------------------->


    <div class="speaker-item-09">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-a">

              <a class="home-speaker-button" href="speakers#juuso">
                <div class="speaker-item" id="speaker-item-09">
                  <img id="speaker-item-img-09" src="../../../img/02/juuso_henrik_nieminen.jpg" alt="steamconf-juuso-henrik-nieminen">

                  <div class="circle" id="speaker-item-electricblue-circle"></div>
                </div>
              </a>

            </div>  <!-- col -->


            <div class="col-6" id="speaker-col-b">

              <a class="home-speaker-button" href="speakers#juuso">

              <div class="speaker-item-text" id="speaker-item-text-09">
                <h3>Juuso Henrik Nieminen</h3>
                <h6>University of Helsinki & Melbourn</h6>
              </div>

              </a>

            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-09 -->



    <!---------- speaker-item --------------------------------- kaleb_rashad ----------------------->



    <div class="speaker-item-10">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-c">

            <a class="home-speaker-button" href="speakers#kaleb">

              <div class="speaker-item-text" id="speaker-item-text-10">
                <h3>Kaleb Rashad</h3>
                <h6>High Tech High</h6>
              </div>

              </a>

            </div>


            <div class="col-6" id="speaker-col-d">

                <a class="home-speaker-button" href="speakers#kaleb">
                  <div class="speaker-item" id="speaker-item-10">
                    <img id="speaker-item-img-10" src="../../../img/02/kaleb_rashad.jpg" alt="steamconf-kaleb-rashad">
                  </div>
                  <div class="circle" id="speaker-item-pink-circle"></div>
                  </a>




            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-10 -->


    <!---------- speaker-item --------------------------------- anna_cutler ----------------------->



    <div class="speaker-item-05">

      <div class="container speaker-item-container">

        <div class="row">

          <div class="col-6" id="speaker-col-c">



              <a class="home-speaker-button" href="speakers#anna">

                <div class="speaker-item" id="speaker-item-06">
                  <img id="speaker-item-img-06" src="../../../img/02/anna_cutler.jpg" alt="steamconf-anna-cutler">
                </div>

                <div class="circle" id="speaker-item-bluegreen-circle"></div>

              </a>


            </div>


            <div class="col-6" id="speaker-col-d">

                <a class="home-speaker-button" href="speakers#anna">

                <div class="speaker-item-text" id="speaker-item-text-06">
                  <h3>Anna Cutler</h3>
                  <h6>Tate</h6>
                </div>

                </a>

            </div>  <!-- col -->

          </div>  <!-- row -->

      </div>  <!-- container -->

    </div>  <!-- speaker-item-05 -->





    </div>

    </div>

  </div>

</div>
