{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.program }}

    {{ partial "page-header.html" . }}

  </head>
    <body class="page-body">

      {{ partial "page-nav.html" . }}

      <div class="page-header-section-about">
        <h1 class="page-header-title">{{ .PageHeaderProgram }}</h1>
      </div>

      <div class="title-dots page-dots"></div>

      <div class="container program-container">

<!--------------- Dissabte 30 de març ------------------>

            <div class="content-date-title">

              <h2>{{ .Date01 }}</h2>

            </div>  <!-- content-date-title -->

            <hr class="page-hr">

<!-- EDCAMP -------------------------------------------------------------------------->

            <div class="row program-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time01 }}</h3>
                <h4>{{ .Place01 }}</h4>
                <h4><span class="orange">{{ .Classroom01 }}</span></h4>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-program-info">

                <h3>{{ .Title01A }}</h3>
                <h6 class="bold-subtitle">{{ .Subtitle01A }}</h6>
                <p>{{ .Text01A }}</p>

                <h3>{{ .Title01B }}</h3>
                <p>{{ .Text01B }}</p>

                <h3>{{ .Title01C }}</h3>
                <p>{{ .Text01C }}</p>

                <h3>{{ .Title01D }}</h3>
                <p>{{ .Text01D }}</p>

                <div id="button-edcamp" class="col-md-3 col-xs-12">
                    <a target="_blank" href="https://edcamp.educaciodema.cat/ca/edcamp/edcamp-steam-barcelona-19/_e:75/"><button type="button" class="button-edcamp-element">{{ .button01F }}</button></a>
                </div> <!-- col -->

              </div>  <!-- content-schedule-info -->


            </div>  <!-- row -->

            <hr class="page-hr">

<!--------------- Dijous 4 d’abril  ------------------>

            <div class="content-date-title">

              <h2>{{ .Date02 }}</h2>

            </div>  <!-- content-date-title -->

<!--- MyPERFORM-UNESCO -------------------------------------->

            <hr class="page-hr">

            <div id="button-edcamp" class="col-md-9 offset-md-3 col-xs-12">
                <a href="../registry"><button type="button" class="button-unesco-element">Inscripció gratuïta a l’ Obertura pública de la conferencia</button></a>
            </div> <!-- col -->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time02 }}</h3>
                  <h4>{{ .Place02 }}</h4>
                  <h4><span class="orange">{{ .Classroom02 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title02A }}</h3>
                  <h6 class="content-language-notice">{{ .LanguageNotice02 }}</h6>

                  <h6>{{ .InternationalSpeaker02A }}</h6>
                  <h6>{{ .LocalSpeaker02A | markdownify }}</h6>
                  <p>{{ .Text02A }}</p>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/lluis_noguera.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle02F }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText02F }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/llnogueras">@llnoguera</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                  <!-- <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/francesca_bria.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <!-- <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .InternationalSpeakerTitle02C }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .InternationalSpeakerText02C }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/francesca_bria">@francesca_bria</a>

                     </div>  <!-- col -->

                  <!-- </div>  <!-- row -->


                  <!-- <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/ernesto_fernandez.jpg" alt="SteamConf Ernesto Fernández Polcuch">
                     </div>  <!-- col -->

                     <!-- <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .InternationalSpeakerTitle02D }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .InternationalSpeakerText02D }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/efpolcuch">@efpolcuch</a>

                                         </div>  <!-- col -->
                    <div class="row content-program-speaker-row">

                       <div class="col-md-3">
                         <img class="page-text-container-image" src="../../../img/02/casimiro_vizzini.jpg" alt="SteamConf Speaker">
                       </div>  <!-- col -->

                       <div class="col-md-9">

                         <h4 class="page-text-container-title">{{ .LocalSpeakerTitle02C }}</h4>

                         <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText02C }}</p>

                         <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/casiviz">@casiviz</a>

                       </div>  <!-- col -->

                    </div>  <!-- row -->


                </div>  <!-- content-schedule-info -->

                <div class="col-md-9 offset-md-3 content-program-info content-myperform">

                  <h3>{{ .Title02B }}</h3>
                  <h6>{{ .LocalSpeaker02B | markdownify }}</h6>

                  <p>{{ .Text02B }}</p>
                  <p>{{ .Text02C }}</p>
                  <p>{{ .Text02D }}</p>
                  <p>{{ .Text02E }}</p>
                  <p>{{ .Text02F }}</p>
                  <p>{{ .Text02G }}</p>


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/helena_gonzalez.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle02A }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText02A }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/HelenaArlequino">@HelenaArlequino</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->



                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/oriol_marimon.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle02B }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText02B }}</p>

                     </div>  <!-- col -->

                  </div>  <!-- row -->



                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/casimiro_vizzini.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle02C }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText02C }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/casiviz">@casiviz</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- col -->

            </div>  <!-- row -->


<!------------------------------------------------------------------ CONVERSATION ----------->

            <hr class="page-hr">

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time03 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

<!--------------------------------->

<hr class="page-hr">

<!--------------- Friday, April 5th  ------------------>

            <div class="content-date-title">

              <h2>{{ .Date03 }}</h2>

            </div>  <!-- content-date-title -->

<hr class="page-hr">

<!-- Tallers -------------------------------------------------------------------------->

            <div class="row program-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time04 }}</h3>
                <h4>{{ .Place04 }}</h4>
                <h4><span class="orange">{{ .Classroom04 }}</span></h4>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-program-info">

                <h3>{{ .Title04A }}</h3>
                <h6 class="bold-subtitle">{{ .Subtitle04A }}</h6>
                <p>{{ .Text04A }}</p>

                <div id="button-edcamp" class="col-md-3 col-xs-12">
                    <a href="../workshops"><button type="button" class="button-edcamp-element">{{ .ButtonText08 }}</button></a>
                </div> <!-- col -->

              </div>  <!-- content-schedule-info -->


            </div>  <!-- row -->


<!------------------------------------------------------------------ TALLERS PARALLELS ----------->

            <hr class="page-hr">

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time05 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3> {{ .ParalelWorkshops }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

<!--------------------------------->

<!------------------------------------------------------------------ PAUSA CAFE ----------->

            <hr class="page-hr">

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time06 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-coffee-cup.svg" alt="coffee break"></span> {{ .PausaCafe }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

<!--------------------------------->

<!------------------------------------------------------------------ TALLERS PARALLELS ----------->

            <hr class="page-hr">

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time07 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3> {{ .ParalelWorkshops }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!--------------------------------->


<!-- DINAR -------------------------------------------------------------------------->

            <div class="row program-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time08 }}</h3>

              </div>  <!-- content-time -->

              <div class="col-md-9 content-program-info">

                <h3>{{ .Title08 }}</h3>
                <h6 class="bold-subtitle">{{ .Subtitle08 }}</h6>
                <p>{{ .Text08 }}</p>

                <!-- <div id="button-edcamp" class="col-md-3 col-xs-12">
                    <a href="../workshops"><button type="button" class="button-dinar-element">Consulta el programa detallat aqui!</button></a>
                </div> <!-- col -->

              </div>  <!-- content-schedule-info -->


            </div>  <!-- row -->

<hr class="page-hr">

<!-- Rebuda del professorat de la Fila 0 -------------------------------------------------------->


            <div class="row program-row">

            </div> <!-- row -->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time09 }}</h3>
                  <h4>{{ .Place09 }}</h4>
                  <h4><span class="orange">{{ .Classroom09 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title09 }}</h3>

                  <h6>{{ .Subtitle09 | markdownify }}</h6>
                  <p>{{ .Text02A }}</p>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/04/begonya_folch.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle09 }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText09 }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/Begonya">@Begonya</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!-- Registre i lliurament de documentació -------------------------------------------------------->


            <div class="row program-row">

            </div> <!-- row -->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time10 }}</h3>
                  <h4>{{ .Place10 }}</h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title10 }}</h3>
                  <h6 class="content-language-notice">{{ .LanguageNotice10 }}</h6>

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->


<!--- Inauguració de la conferència -------------------------------------->

          <hr class="page-hr">

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time11 }}</h3>
                  <h4>{{ .Place11 }}</h4>
                  <h4><span class="orange">{{ .Classroom11 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title11A }}</h3>
                  <h6>{{ .Subtitle11A | markdownify }}</h6>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/jordi_portabella_2.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle11A }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText11A }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/jordiportabella">@jordiportabella</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/francesca_bria.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle11B }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText11B }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/francesca_bria">@francesca_bria</a>

                     </div>  <!-- col -->


                  </div>  <!-- row -->


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/ma-del-mar-camacho.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle11D }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText11D }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/marett">@marett</a>

                     </div>  <!-- col -->


                  </div>  <!-- row -->


                </div>  <!-- content-schedule-info -->

                <div class="col-md-9 offset-md-3 content-program-info">

                  <h3>{{ .Title11B }}</h3>
                  <h6>{{ .Subtitle11B | markdownify }}</h6>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/04/frank_sabate_b.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle11C }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText11C }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/franksabate">@franksabate</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                </div>  <!-- col -->

            </div>  <!-- row -->

          <hr class="page-hr">

<!--- Session 01 - Make or Break. The Imperative for Change -------------------------------------->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time12 }}</h3>
                  <h4>{{ .Place12 }}</h4>
                  <h4><span class="orange">{{ .Classroom12 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title12 }}</h3>
                  <h6>{{ .Subtitle12 | markdownify }}</h6>
                  <h6><span class="orange">Local Peer:</span> {{ .LocalSpeaker12 | markdownify }}</h6>
                  <p>{{ .Text12 }}</p>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/anna_cutler.jpg" alt="SteamConf Speaker Anna Cutler">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle12A }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText12A }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/AnnaCutler">@AnnaCutler</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/monica_bello.jpg" alt="SteamConf Speaker Mónica Bello">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle12B }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText12B }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/monica_bello">@monica_bello</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->


<!------------------------------------------------------------------ CONVERSATION ----------->

            <hr class="page-hr">

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time13 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->


          <hr class="page-hr">


<!------------------------------------------------------------------ PAUSA CAFE ----------->

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time14 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-coffee-cup.svg" alt="coffee break"></span> {{ .PausaCafe }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">

<!--------------------------------->


<!--- Session 02 - It looks like fun, but are they learning? -------------------------------------->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time15 }}</h3>
                  <h4>{{ .Place15 }}</h4>
                  <h4><span class="orange">{{ .Classroom15 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title15 }}</h3>
                  <h6>{{ .Subtitle15 | markdownify }}</h6>
                  <h6><span class="orange">Local Peer:</span> {{ .LocalSpeaker15 | markdownify }}</h6>
                  <p>{{ .Text15 }}</p>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/sebastian_martin.jpg" alt="SteamConf-speaker-sebastian-martin">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle15A }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText15A }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/smartinseb">@smartinseb</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/oscar_ciuro.jpg" alt="SteamConf-speaker-oscar-ciuro">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle15B }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText15B }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/sarok">@sarok</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->


          <hr class="page-hr">

<!------------------------------------------------------------------ CONVERSATION ----------->

          <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time16 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

        <hr class="page-hr">


<!--- Session 03 -  -------------------------------------->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time17 }}</h3>
                  <h4>{{ .Place17 }}</h4>
                  <h4><span class="orange">{{ .Classroom17 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title17 }}</h3>
                  <h6>{{ .Subtitle17 | markdownify }}</h6>
                  <h6><span class="orange">Local Peer:</span> {{ .LocalSpeaker17 | markdownify }}</h6>
                  <p>{{ .Text17 }}</p>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/sam_aaron.jpg" alt="SteamConf Speaker Sam Aaron">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle17A }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText17A }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/samaaron">@samaaron</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/carles_ceacero.jpg" alt="SteamConf Speaker Carles Ceacero">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle17B }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText17B }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/musicarles">@musicarles</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->


          <hr class="page-hr">


<!------------------------- Conversation and Live Music Performance ----------->

          <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time18 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .ConversationLivePerformace }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

        <hr class="page-hr">


<!--------------- Disabte 6 d’abril  ------------------>

            <div class="content-date-title">

              <h2>{{ .Date19 }}</h2>

            </div>  <!-- content-date-title -->

          <hr class="page-hr">


<!--- Session 04 - Engagement First: Pathways to Intrinsically Motivated Learning -------------------------------------->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time20 }}</h3>
                  <h4>{{ .Place20 }}</h4>
                  <h4><span class="orange">{{ .Classroom17 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title20 }}</h3>
                  <h6>{{ .Subtitle20 | markdownify }}</h6>
                  <h6><span class="orange">Local Peer:</span> {{ .LocalSpeaker20 | markdownify }}</h6>
                  <p>{{ .Text20 }}</p>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/gever_tulley.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle20A }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText20A }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/gever">@gever</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/04/mariona_ciller.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle20B }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText20B }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/mariondita">@mariondita</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->


          <hr class="page-hr">


<!------------------------------------------------------------------ CONVERSATION ----------->

          <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time21 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

        <hr class="page-hr">


<!------------------------------------------------------------------ PAUSA CAFE ----------->

            <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time22 }} </h3>


              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-coffee-cup.svg" alt="coffee break"></span> {{ .PausaCafe }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

            <hr class="page-hr">


<!--- Session 05 - Bringing assessment culture to the 21st century – the power of innovative assessment -------------------------------------->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time23 }}</h3>
                  <h4>{{ .Place23 }}</h4>
                  <h4><span class="orange">{{ .Classroom23 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title23 }}</h3>
                  <h6>{{ .Subtitle23 | markdownify }}</h6>
                  <h6><span class="orange">Local Peer:</span> {{ .LocalSpeaker23 | markdownify }}</h6>
                  <p>{{ .Text23 }}</p>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/juuso_henrik_nieminen.jpg" alt="SteamConf Speaker Juuso Henrik Nieminen">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle23A }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText23A }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/Juuso_Nieminen">@Juuso_Nieminen</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/caterina_calsamiglia.jpg" alt="SteamConf Speaker Caterina Calsamiglia">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle23B }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText23B }}</p>

                       <!-- <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/Vibanez60">@Vibanez60</a> -->

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

          <hr class="page-hr">


<!------------------------------------------------------------------ CONVERSATION ----------->

          <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time24 }} </h3>

              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3><span class="cofee-break-span"><img class="coffee-break-icon" src="../../../img/00/steamconf-conversation.svg" alt="coffee break"></span> {{ .Conversation }}</h3>

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

        <hr class="page-hr">

<!--------------------------------->


<!--- Session 06 - School for What? -------------------------------------->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time26 }}</h3>
                  <h4>{{ .Place26 }}</h4>
                  <h4><span class="orange">{{ .Classroom26 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title26 }}</h3>
                  <h6>{{ .Subtitle26 | markdownify }}</h6>
                  <h6><span class="orange">Local Peer:</span> {{ .LocalSpeaker26 | markdownify }}</h6>
                  <p>{{ .Text26 | markdownify }}</p>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/kaleb_rashad.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle26A }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText26A }}</p>

                      <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/kalebrashad">@kalebrashad</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/04/sergi_moral.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle26B }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText26B }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/sergidelmoral">@sergidelmoral</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

          <hr class="page-hr">


<!---- CONVERSATION - Creating the next generation of schools Farewell conversation --------->

          <div class="row workshops-row">

              <div class="col-md-3 content-time">

                <h3>{{ .Time27 }} </h3>
                <h4>{{ .Place26 }}</h4>
                <h4><span class="orange">{{ .Classroom26 }}</span></h4>

              </div>  <!-- content-time -->

              <div class="col-md-9 content-workshops-info">

                <h3>{{ .Title27 }}</h3>
                <h6 id="farewell-conversation">{{ .Subtitle27 | markdownify }}</h6>
                <h6><span class="orange">{{ i18n "moderator" }}:</span> {{ .LeadSpeaker27 | markdownify }}</h6>
                <h6>{{ .Speakers27 | markdownify }}</h6>

                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/eduard-vallory.jpg" alt="SteamConf Speaker eduard vallory">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle27 }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText27 }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/evallory">@evallory</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

              </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

        <hr class="page-hr">

<!--------------------------------->

<!--- Closing Session -  -------------------------------------->

            <div class="row program-row">

                <div class="col-md-3 content-time">

                  <h3>{{ .Time28 }}</h3>
                  <h4>{{ .Place28 }}</h4>
                  <h4><span class="orange">{{ .Classroom28 }}</span></h4>

                </div>  <!-- content-time -->

                <div class="col-md-9 content-program-info">

                  <h3>{{ .Title28 }}</h3>
                  <h6>{{ .Subtitle28 | markdownify }}</h6>
                  <p>{{ .Text28 }}</p>


                  <div class="row content-program-speaker-row">

                     <div class="col-md-3">
                       <img class="page-text-container-image" src="../../../img/02/lluis_noguera.jpg" alt="SteamConf Speaker">
                     </div>  <!-- col -->

                     <div class="col-md-9">

                       <h4 class="page-text-container-title">{{ .LocalSpeakerTitle28 }}</h4>

                       <p class="Speaker-committe-section-p speakers-page-p">{{ .LocalSpeakerText28 }}</p>

                       <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/llnoguera">@llnoguera</a>

                     </div>  <!-- col -->

                  </div>  <!-- row -->

                </div>  <!-- content-schedule-info -->

            </div>  <!-- row -->

          <hr class="page-hr">



      </div> <!-- container -->


      {{ partial "js.html" . }}

      {{ partial "page-footer.html" . }}

    </body>
</html>

{{ end }}
