/* ------------------ Fonts ----------------------------------------------- Fonts ----------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Rubik:400,500,700,900');

/* ------------------ General ----------------------------------------------- General ----------------------------- */
html {
  scroll-behavior: smooth;
}

body {
    background-image: url("../img/03/steamconf-page-white-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

p {
  font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 100% !important;
}


button {
  background: #EB7B39;
  border-radius: 30px !important;
  padding: 5px 30px;
  border: 3px #EB7B39 solid;
  color: white;
  font-size: 1.4em !important;
  transition: .5s ease;
}

button:hover {
  transform: scale(1.1);
  text-decoration: none !important;
}

.page-body {
  background-image: url("../img/03/steamconf-page-white-background.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}


#bg-button-01, #bg-button-02, #bg-button-03 {
  margin: 3% auto;
  display: flex;
  justify-content: center;
}

.orange {
  color: #EB7B39;
}


/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {



      #bg-button-01, #bg-button-02, #bg-button-03 {
        margin: 0;
        display: block;
        position: relative;
      }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

      .container {
          max-width: 90% !important;
      }

      #bg-button-01, #bg-button-02, #bg-button-03 {
        margin: 0;
      }

      button {
        font-size: 1.4em;
      }

      h1 {
        font-size: 3em;
    }

}


/* ------------- home-bg ----------------------------------------- home-bg ----------------------------- */

.bg-section {
    background-image: url("../img/01/steamconf_bg_01.jpg");
    background-color: #37145d !important;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.bg-mask {
  background: url('../img/00/bg-mask.png') center center repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  }

.bg-information {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-info-title {
 color: white;
}

.bg-info-title h1{
  font-weight: 700;
  font-size: 2.3em;
  text-align: center;
}


.bg-info-subtitle {
  color: white;
}

.bg-info-subtitle h4{
  font-size: 1.48em;
  text-align: center;
}

.bg-info-buttons {
  margin: 5% 0 0 0;
}

.bg-info-button-element {
  width: 200px;
  display: block;
  border-radius: 30px;
  font-size: 1.4em;
}


/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .bg-information {
      top: 50%;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

.bg-info-title h1{
  font-weight: 700;
  font-size: 3.5em;
  text-align: left;
}

.bg-info-subtitle h4{
  font-size: 24px;
  text-align: left;
}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

.bg-section {
    height: 750px;
  }

.bg-info-button-element {
  width: 200px;
}

.bg-info-title h1{
  font-size: 3.5em;
  text-align: left;
}

.bg-info-subtitle h4{
  font-size: 24px;
  text-align: left;
}

}

/* ------------- nav-bar ----------------------------------------- nav-bar ----------------------------- */

.navbar {
  height: 60px;
  width: 100%;
  margin: 0 0 0 0;
  right: 0;
  position: fixed;
  z-index: 99;
  opacity: 0.95;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  width: 77px;
  margin-left: 0;
  padding: 0;
}



.nav-item-01, .nav-item-02, .nav-item-03, .nav-item-04, .dropdown-toggle {
  margin: 0 auto;
}

.navbar-nav li {
    border-bottom: 1px solid #EB7B39;
    width: 80%;
    margin-bottom: 1%;
}


.nav-link {
  display: block;
  position: relative;
  margin: 0 auto;
}

.dropdown-item:hover {
  background-color: #EB7B39 !important;
}

.dropdown-item {
  text-align: center !important;
}

.language-dropdown {
  border-bottom: none !important;
}

.dropdown-menu {
    min-width: 7rem;
    padding: 0.5rem 4px;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 0;
    background-color: #f8f9fa;
    border: none;
}

.dropdown {
  margin: 0 auto;
}

.breadcrumbs-bar {
  position: fixed;
  display: block;
  background-color: #EB7B39;

}

.program-dropdown {
  width: 119px;
}

.navbar-collapse {
  background-color: #f8f9fa;
  display: block;
  position: relative;
  top: 4px;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {
  .navbar-brand {
    width: 90px;
    margin-left: 5%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  .nav-item-02, .nav-item-03 {
    width: 115px;
  }

  .nav-item-04 {
    width: 140px;
  }

  .nav-item-02, .nav-item-03 {
    width: 115px;
  }

  .nav-item-04 {
    width: 140px;
  }

  .nav-item-01  {
    width: 200px !important;
  }

  .navbar-nav li {
      border-bottom: none;
      width: 140px;
  }




}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}

/* ------------- home-description ----------------------------------------- home-description ----------------------------- */

.home-description-section {
  background-color: #d6d6d6;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c2c2c2' fill-opacity='0.56' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
position: relative;

}

.home-description-section-text {
  padding: 15% 0;
  text-align: center;
}

.home-description-section-img img {
  display: none;
  position: absolute;
  top: 8%;
  right: 55%;
  left: -17%;
}

.home-description-title, .organizers-section-title {
  margin-bottom: 5%;
  font-weight: 600;
}

.organizers-row {
  text-align: left;
}

.home-description-text, .home-workshops-text  {
  font-size: 1.4em;
  margin-bottom: 5%;
  line-height: 1.6em;
}

.patronage-dots {
  padding-top: 3% !important;
}

.unesco-row {
  margin-top: 10%;
}

.unesco-logo {
  padding: 0;
}


/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .home-description-section-img img {
    display: block;
    top: 17%;
    left: -32%;
    width: 85%;
  }

  .home-description-section-text {
    padding: 12% 0 12% 40%;
    text-align: right;
  }

  .organizers-row {
    text-align: center;
  }

  .unesco-logo {
    padding: 0 20% !important;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

    .home-description-section-img img {
      display: block;
      top: 8%;
      left: -21%;
      width: 73%;
    }

    .unesco-logo {
      padding: 0 27% !important;
    }


}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

    .home-description-section-img img {
      display: block;
      top: 19%;
      left: -13%;
      width: 60%;
    }
}

/* ------------- speakers-section ----------------------------------------- speakers-section ----------------------------- */

.home-speakers-section .container {
}

.home-speakers-section {
  position: relative;
  height: 100%;
  margin-bottom: 10%;
}

.home-speakers-section-title {
  margin: 15% 0 1.5% 0;
  text-align: center;
  font-weight: 600;
}

.title-dots {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-dots {
  display: block;
}

.section-dots {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.spacer {
  height: 30px;
}


.home-speakers-section-robot {
display: none;
}

#home-speakers-section-items-container {
margin-top: 3%;
}

.speaker-item {
display: block;
position: relative;
}

.speaker-item img{
border-radius: 50%;
width: 50%;
z-index: 5;
display: block;
position: relative;
}


.circle {
width: 23%;
height: 103%;
overflow: hidden;
line-height: 16px;
border-radius: 100%;
box-sizing: border-box;
}

.speaker-item-text {
display: block;
position: absolute;
z-index: 4;
}

.home-speaker-button img:hover {
  transform: scale(1.1);
  transition: .5s ease;
}

.home-speaker-button .speaker-item-text h3:hover {
  color: #EB7B39 !important;
  transition: .5s ease;
}

.speakers-page {
  margin: 0% 0 10% 0 !important;
}

.speakers-first-image {
  margin:  0 auto 5% auto !important;
}

.speakers-page-p {
  margin-top: 3%;
}

.speaker-title {
  font-size: 2em;
  margin-top: 10%;
  margin-bottom: 3% !important;
}

.speaker-subtitle {
  font-size: 1.5em;
}


#speaker-col-01, #speaker-col-02, #speaker-col-03, #speaker-col-04, #speaker-col-05, #speaker-col-06, #speaker-col-07, #speaker-col-08, #speaker-col-09 {
  display: block;
  position: relative;
}

#speaker-item-text-01 h3, #speaker-item-text-02 h3, #speaker-item-text-03 h3, #speaker-item-text-04 h3, #speaker-item-text-05 h3, #speaker-item-text-06 h3, #speaker-item-text-07 h3, #speaker-item-text-08 h3, #speaker-item-text-09 h3, #speaker-item-text-10 h3{
  font-size: 1.1em;
  font-weight: 600;
  color: black;
}

#speaker-item-text-01 h6, #speaker-item-text-02 h6, #speaker-item-text-03 h6, #speaker-item-text-04 h6, #speaker-item-text-05 h6, #speaker-item-text-06 h6, #speaker-item-text-07 h6, #speaker-item-text-08 h6, #speaker-item-text-09 h6, #speaker-item-text-10 h6{
  font-weight: 400;
  color: black;
}

/* -----------   speaker-item  ---------------------- */

#speaker-item-01, #speaker-item-02, #speaker-item-03, #speaker-item-04, #speaker-item-05, #speaker-item-06, #speaker-item-07, #speaker-item-08, #speaker-item-09, #speaker-item-10 {
display: block;
position: relative;
margin: 10% 0;
}

/* -----------  speaker-item-text  ------------------ */

#speaker-item-text-01 {
top: 31%;
left: 23%;
}

#speaker-item-text-02 {
top: 35%;
left: 2%;
width: 80%
}

#speaker-item-text-03 {
top: 45%;
left: 29%;
}

#speaker-item-text-04 {
top: 38%;
left: 03%;
width: 50%
}

#speaker-item-text-05 {
top: 44%;
left: 25%;
}

#speaker-item-text-06 {
top: 51%;
left: 3%;
width: 70%
}

#speaker-item-text-07 {
top: 41%;
left: 29%;
width: 70%
}

#speaker-item-text-08 {
top: 38%;
left: 15%;
width: 50%
}

#speaker-item-text-09 {
top: 31%;
left: 23%;
}

#speaker-item-text-10 {
top: 47%;
left: 0%;
width: 80%
}

/* -----------  speaker-item-img  ------------------ */

#speaker-item-img-01, #speaker-item-img-02, #speaker-item-img-03, #speaker-item-img-04, #speaker-item-img-05, #speaker-item-img-06, #speaker-item-img-07, #speaker-item-img-08, #speaker-item-img-09, #speaker-item-img-10  {
  width: 100%;
}


/* -----------  speaker-item-circles  ------------------ */

#speaker-item-neongreen-circle {
background-color: #2CFF84;
z-index: 3;
position: absolute;
left: 29%;
bottom: 0%;
width: 85%;
height: 85%;
}

#speaker-item-lightpurple-circle{
background-color: #AD87EA;
z-index: 3;
position: absolute;
right: 29%;
top: 17%;
width: 90%;
height: 85%;
}

#speaker-item-lightblue-circle {
background-color: #2990d2;
z-index: 3;
position: absolute;
left: 29%;
top: 9%;
width: 100%;
height: 100%;
}

#speaker-item-lightred-circle {
background-color: #d23d3d;
z-index: 3;
position: absolute;
right: 29%;
top: 17%;
width: 90%;
height: 85%;
}

#speaker-item-lightpink-circle {
background-color: #36b6a8;
z-index: 3;
position: absolute;
left: 29%;
top: 9%;
width: 100%;
height: 100%;
}

#speaker-item-bluegreen-circle {
background-color: #f5f211;
z-index: 3;
position: absolute;
right: 29%;
top: 17%;
width: 90%;
height: 85%;
}

#speaker-item-brown-circle {
background-color: #ac7e47;
z-index: 3;
position: absolute;
left: 29%;
top: 9%;
width: 100%;
height: 100%;
}

#speaker-item-green-circle {
background-color: #16c64a;
z-index: 3;
position: absolute;
right: 23%;
top: 17%;
width: 90%;
height: 85%;
}

#speaker-item-electricblue-circle {
background-color: #38e3ff;
z-index: 3;
position: absolute;
left: 29%;
top: 9%;
width: 100%;
height: 100%;
}

#speaker-item-pink-circle {
background-color: #ff3870;
z-index: 3;
position: absolute;
right: 29%;
top: 17%;
width: 90%;
height: 85%;
}

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .home-speakers-section {
      margin-bottom: 30%;
      }

      .title-dots {
        width: 10%;
      }

      .section-dots {
        width: 10%;
      }

      .contact-dots {
        width: 10%;
      }

    #speaker-item-01, #speaker-item-02, #speaker-item-03, #speaker-item-04, #speaker-item-05, #speaker-item-06, #speaker-item-07, #speaker-item-08, #speaker-item-09, #speaker-item-10 {
        width: 80%;
    }

    #speaker-item-neongreen-circle {
      top: 8%;
    }

    #speaker-item-text-01, #speaker-item-text-02, #speaker-item-text-03, #speaker-item-text-04, #speaker-item-text-05, #speaker-item-text-06, #speaker-item-text-07, #speaker-item-text-08, #speaker-item-text-09, #speaker-item-text-10 {
      font-size: 2em;
      width: 90%;
    }



/* -----------  speaker-item-text  ------------------ */

#speaker-item-text-01 {
top: 47%;
left: 37%;
width: 50%;
}

#speaker-item-text-02 {
top: 47%;
left: 11%;
width: 50%
}

#speaker-item-text-03 {
top: 51%;
left: 35%;
}

#speaker-item-text-04 {
top: 45%;
left: 13%;
width: 50%
}

#speaker-item-text-05 {
top: 47%;
left: 40%;
width: 50%;
}

#speaker-item-text-06 {
top: 55%;
left: 3%;
width: 70%
}

#speaker-item-text-07 {
top: 51%;
left: 33%;
}

#speaker-item-text-08 {
top: 49%;
left: 7%;
width: 50%
}

#speaker-item-text-09 {
top: 48%;
left: 31%;
}

#speaker-item-text-10 {
top: 38%;
left: 15%;
width: 50%
}

/* -----------  speaker-item-img  ------------------ */

#speaker-item-img-01, #speaker-item-img-02, #speaker-item-img-03, #speaker-item-img-04, #speaker-item-img-05, #speaker-item-img-06, #speaker-item-img-07, #speaker-item-img-08, #speaker-item-img-09, #speaker-item-img-10  {
  width: 125%;
}


/* -----------  speaker-item-circles  ------------------ */

#speaker-item-neongreen-circle {
background-color: #2CFF84;
z-index: 3;
position: absolute;
left: 25%;
top: 17%;
width: 95%;
height: 85%;
}

#speaker-item-lightpurple-circle{
background-color: #AD87EA;
z-index: 3;
position: absolute;
right: 25%;
top: 17%;
width: 95%;
height: 85%;
}

#speaker-item-lightblue-circle {
background-color: #2990d2;
z-index: 3;
position: absolute;
left: 25%;
top: 9%;
width: 135%;
height: 107%;
}

#speaker-item-lightred-circle {
background-color: #d23d3d;
z-index: 3;
position: absolute;
right: 25%;
top: 17%;
width: 95%;
height: 85%;
}

#speaker-item-lightpink-circle {
background-color: #36b6a8;
z-index: 3;
position: absolute;
left: 25%;
top: 9%;
width: 135%;
height: 107%;
}

#speaker-item-bluegreen-circle {
background-color: #f5f211;
z-index: 3;
position: absolute;
right: 25%;
top: 17%;
width: 95%;
height: 85%;
}

#speaker-item-brown-circle {
background-color: #ac7e47;
z-index: 3;
position: absolute;
left: 25%;
top: 9%;
width: 135%;
height: 107%;
}

#speaker-item-green-circle {
background-color: #16c64a;
z-index: 3;
position: absolute;
right: 25%;
top: 17%;
width: 95%;
height: 85%;
}

#speaker-item-electricblue-circle {
background-color: #38e3ff;
z-index: 3;
position: absolute;
left: 25%;
top: 9%;
width: 135%;
height: 107%;
}

#speaker-item-pink-circle {
background-color: #ff3870;
z-index: 3;
position: absolute;
right: 25%;
top: 17%;
width: 95%;
height: 85%;
}

}


/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

    .home-speakers-section {
      position: relative;
      height: 100%;
      margin-bottom: 15%;
    }

    .title-dots {
      width: 7%;
    }

    .section-dots {
      width: 10%;
    }

    .contact-dots {
      width: 7%;
      margin: 0 0 2% 0 !important;
      padding: 0 !important;
    }

    .home-speakers-section-robot {
      display: block;
      position: absolute;
      top: 33%;
      right: 0;
      left: 65%;
    }

        #speaker-item-text-01, #speaker-item-text-02, #speaker-item-text-03, #speaker-item-text-04, #speaker-item-text-05, #speaker-item-text-06, #speaker-item-text-07, #speaker-item-text-08, #speaker-item-text-09, #speaker-item-text-10 {
          font-size: 1.3em;
          width: 90%;
        }

      #speaker-item-text-01 h3, #speaker-item-text-02 h3, #speaker-item-text-03 h3, #speaker-item-text-04 h3, #speaker-item-text-05 h3, #speaker-item-text-06 h3, #speaker-item-text-07 h3, #speaker-item-text-08 h3, #speaker-item-text-09 h3, #speaker-item-text-10 h3{
        font-size: 2em;
        font-weight: 600;
        color: black;
      }

      #speaker-item-text-01 h6, #speaker-item-text-02 h6, #speaker-item-text-03 h6, #speaker-item-text-04 h6, #speaker-item-text-05 h6, #speaker-item-text-06 h6, #speaker-item-text-07 h6, #speaker-item-text-08 h6, #speaker-item-text-09 h6, #speaker-item-text-10 h6{
        font-weight: 600;
        color: black;
      }


      #speaker-col-01, #speaker-col-02, #speaker-col-03, #speaker-col-04, #speaker-col-05, #speaker-col-06, #speaker-col-07, #speaker-col-08, #speaker-col-09 {
        display: block;
        position: relative;
      }

      #speaker-item-01, #speaker-item-02, #speaker-item-03, #speaker-item-04, #speaker-item-05, #speaker-item-06, #speaker-item-07, #speaker-item-08, #speaker-item-09, #speaker-item-10 {
          width: 65%;
      }

/* -----------  speaker-item-text  ------------------ */

#speaker-item-text-01 {
top: 47%;
left: 13%;
}

#speaker-item-text-02 {
top: 38%;
left: 15%;
width: 50%
}

#speaker-item-text-03 {
top: 47%;
left: 13%;
}

#speaker-item-text-04 {
top: 43%;
left: 23%;
width: 50%;
}

#speaker-item-text-05 {
top: 47%;
left: 13%;
}

#speaker-item-text-06 {
top: 53%;
left: 15%;
width: 70%;
}

#speaker-item-text-07 {
top: 47%;
left: 13%;
}

#speaker-item-text-08 {
top: 43%;
left: 23%;
width: 50%;
}

#speaker-item-text-09 {
top: 47%;
left: 13%;
}

#speaker-item-text-10 {
top: 47%;
left: 33%;
width: 50%;
}

/* -----------  speaker-item-img  ------------------ */

#speaker-item-img-01, #speaker-item-img-02, #speaker-item-img-03, #speaker-item-img-04, #speaker-item-img-05, #speaker-item-img-06, #speaker-item-img-07, #speaker-item-img-08, #speaker-item-img-09, #speaker-item-img-10  {
  width: 125%;
}


/* -----------  speaker-item-circles  ------------------ */

#speaker-item-neongreen-circle {
background-color: #2CFF84;
z-index: 3;
position: absolute;
left: 19%;
top: 15%;
width: 83%;
height: 83%;
}

#speaker-item-lightpurple-circle{
background-color: #AD87EA;
z-index: 3;
position: absolute;
right: 37%;
top: 17%;
width: 81%;
height: 83%;
}

#speaker-item-lightblue-circle {
background-color: #2990d2;
z-index: 3;
position: absolute;
left: 29%;
top: 6%;
width: 133%;
height: 103%;
}

#speaker-item-lightred-circle {
background-color: #d23d3d;
z-index: 3;
position: absolute;
right: 37%;
top: 18%;
width: 81%;
height: 83%;
}

#speaker-item-lightpink-circle {
background-color: #36b6a8;
z-index: 3;
position: absolute;
left: 29%;
top: 6%;
width: 133%;
height: 103%;
}

#speaker-item-bluegreen-circle {
background-color: #f5f211;
z-index: 3;
position: absolute;
right: 37%;
top: 18%;
width: 81%;
height: 83%;
}

#speaker-item-brown-circle {
background-color: #ac7e47;
z-index: 3;
position: absolute;
left: 29%;
top: 6%;
width: 133%;
height: 103%;
}

#speaker-item-green-circle {
background-color: #16c64a;
z-index: 3;
position: absolute;
right: 37%;
top: 18%;
width: 81%;
height: 83%;
}

#speaker-item-electricblue-circle {
background-color: #38e3ff;
z-index: 3;
position: absolute;
left: 29%;
top: 6%;
width: 133%;
height: 103%;
}

#speaker-item-pink-circle {
background-color: #ff3870;
z-index: 3;
position: absolute;
right: 37%;
top: 18%;
width: 81%;
height: 83%;
}




}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

      .home-speakers-section-robot {
        display: block;
        position: absolute;
        top: 33%;
        right: 0;
        left: 65%;
      }

        #speaker-col-01, #speaker-col-02, #speaker-col-03, #speaker-col-04, #speaker-col-05, #speaker-col-06, #speaker-col-07, #speaker-col-08, #speaker-col-09 {
          display: block;
          position: relative;
        }

        #speaker-item-01, #speaker-item-02, #speaker-item-03, #speaker-item-04, #speaker-item-05, #speaker-item-06, #speaker-item-07, #speaker-item-08, #speaker-item-09, #speaker-item-10 {
            width: 53%;
        }

       #speaker-item-img-01, #speaker-item-img-03, #speaker-item-img-05, #speaker-item-img-07, #speaker-item-img-09 {
          right: -3%;
        }

        #speaker-item-img-02, #speaker-item-img-04, #speaker-item-img-06, #speaker-item-img-08, #speaker-item-img-10 {
           left: 63%;
         }

        #speaker-item-text-01 h3, #speaker-item-text-02 h3, #speaker-item-text-03 h3, #speaker-item-text-04 h3, #speaker-item-text-05 h3, #speaker-item-text-06 h3, #speaker-item-text-07 h3, #speaker-item-text-08 h3, #speaker-item-text-09 h3, #speaker-item-text-10 h3 {
            font-size: 1.8em;
        }


        /* -----------  speaker-item-text  ------------------ */

        #speaker-item-text-01 {
        top: 49%;
        left: 0%;
        }

        #speaker-item-text-02 {
        top: 53%;
        left: 37%;
        width: 80%;
        }

        #speaker-item-text-03 {
        top: 49%;
        left: 0%;
        }

        #speaker-item-text-04 {
        top: 53%;
        left: 39%;
        width: 80%;
        }

        #speaker-item-text-05 {
        top: 49%;
        left: 0%;
        }

        #speaker-item-text-06 {
        top: 53%;
        left: 55%;
        width: 80%;
        }

        #speaker-item-text-07 {
        top: 49%;
        left: 0%;
        }

        #speaker-item-text-08 {
        top: 53%;
        left: 43%;
        width: 80%;
        }

        #speaker-item-text-09 {
        top: 49%;
        left: 0%;
        width: 100%;
        }

        #speaker-item-text-10 {
        top: 53%;
        left: 49%;
        width: 80%;
        }

        /* -----------  speaker-item-img  ------------------ */

        #speaker-item-img-01, #speaker-item-img-02, #speaker-item-img-03, #speaker-item-img-04, #speaker-item-img-05, #speaker-item-img-06, #speaker-item-img-07, #speaker-item-img-08, #speaker-item-img-09, #speaker-item-img-10  {
          width: 125%;
        }


        /* -----------  speaker-item-circles  ------------------ */

        #speaker-item-neongreen-circle {
        background-color: #2CFF84;
        z-index: 3;
        position: absolute;
        left: 25%;
        top: 20%;
        width: 64%;
        height: 77%;
        }

        #speaker-item-lightpurple-circle{
        background-color: #AD87EA;
        z-index: 3;
        position: absolute;
        right: 23%;
        top: 21%;
        width: 64%;
        height: 77%;
        }

        #speaker-item-lightblue-circle {
        background-color: #2990d2;
        z-index: 3;
        position: absolute;
        left: 35%;
        top: 6%;
        width: 133%;
        height: 103%;
        }

        #speaker-item-lightred-circle {
        background-color: #d23d3d;
        z-index: 3;
        position: absolute;
        right: 23%;
        top: 21%;
        width: 64%;
        height: 77%;
        }

        #speaker-item-lightpink-circle {
        background-color: #36b6a8;
        z-index: 3;
        position: absolute;
        left: 35%;
        top: 6%;
        width: 133%;
        height: 103%;
        }

        #speaker-item-bluegreen-circle {
        background-color: #f5f211;
        z-index: 3;
        position: absolute;
        right: 23%;
        top: 21%;
        width: 64%;
        height: 77%;
        }

        #speaker-item-brown-circle {
        background-color: #ac7e47;
        z-index: 3;
        position: absolute;
        left: 35%;
        top: 6%;
        width: 133%;
        height: 103%;
        }

        #speaker-item-green-circle {
        background-color: #16c64a;
        z-index: 3;
        position: absolute;
        right: 23%;
        top: 21%;
        width: 64%;
        height: 77%;
        }

        #speaker-item-electricblue-circle {
        background-color: #38e3ff;
        z-index: 3;
        position: absolute;
        left: 35%;
        top: 6%;
        width: 133%;
        height: 103%;
        }

        #speaker-item-pink-circle {
        background-color: #ff3870;
        z-index: 3;
        position: absolute;
        right: 23%;
        top: 21%;
        width: 64%;
        height: 77%;
        }

}

/* ------------- workshops-section ----------------------------------------- workshops-section ----------------------------- */

.home-workshops-section {
  background-color: #8b4e92;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
position: relative;
}

.home-workshops-section-text {
  padding: 15% 0;
  text-align: center;
  color: white;
}



.home-workshops-section-img img {
  display: none;
  position: absolute;
  top: -35%;
  right: 55%;
  left: -17%;
  width: 58%;
}

.home-workshops-title, .home-workshops-section-title {
  margin-bottom: 5%;
  font-weight: 600;
}

.home-workshops-text  {
  font-size: 1.4em;
  margin-bottom: 5%;
  line-height: 1.6em;
}

.workshop-undelined-title {
  text-decoration: underline;
  margin-bottom: 3%;
}

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .home-workshops-section-img img {
    top: -18%;
    right: 55%;
    left: -24%;
    width: 67%;
  }

  .home-workshops-section-text {
    padding: 12% 0;
    text-align: right;
    color: white;
  }

  .home-workshops-text {
    padding-left: 0%;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

    .home-workshops-section-img img {
      display: block;
      top: -43%;
      right: 55%;
      left: -31%;
      width: 77%;
    }

    .home-speakers-section-title {
      margin: 13% 0 1.5% 0;
    }

    .home-workshops-section-text {
    padding: 10% 0 10% 31%;
    text-align: right;
    color: white;
    }

    .home-workshops-text {
      padding-left: 0%;
    }


}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

  .home-workshops-section-img img {
    display: block;
    top: -43%;
    left: -31%;
    width: 69%;
  }
}

  /* Large devices (large desktops, 1200px and up) */
  @media screen and  (min-width: 1400px) {

    .home-workshops-section-img img {
      display: block;
      top: -60%;
      left: -26%;
      width: 63%;
    }

   }



/* ------------- organizers-section ----------------------------------------- organizers-section ----------------------------- */

.home-organizers-container {
  padding: 0;
}

.home-organizers-section {
  height: 100%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.home-organizers-section-title {
  margin: 10% 0 1.5% 0;
  text-align: center;
  font-weight: 600;
}

.organizer-dots {
  margin: 5% auto !important;
}

#organizers-logos, #collaborators-logos {
  margin-top: 5%;
}

#home-organizers-section-logo {
  margin: 0 auto;
}

#home-organizers-section-logo img {
  width: 85%;
  margin: 0 auto;
  display: block;
  position: relative;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
.home-organizers-section {
 width: 80%;
 }

.organizer-dots {
  margin: 9% auto !important;
}

}


/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

     .home-organizers-section {
      width: 90%;
      }

      .organizer-dots {
        margin: 5% auto !important;
      }


}


/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

      .home-organizers-section {
       width: 100%;
       }

       .home-organizers-container {
         padding: 0 10% !important;
       }

       #home-organizers-section-logo img {
         width: 95%;
       }

}


/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}



/* ------------------------- PAGES ------------------------------- */


.page-header-section-about, .page-header-section-registry, .page-header-section, .page-header-section-speakers {
  height: 230px;
}

.page-header-section-about {
  background-image: url("../img/03/steamconf-page-08.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0px 11px 23px grey;
}

.page-header-section-schedule {
  background-image: url("../img/03/steamconf-page-06.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0px 11px 23px grey;
}


.page-header-section-about2 {
  background-image: url("../img/03/steamconf-page-08.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0px 11px 23px grey;
}

.page-header-section-speakers {
  background-image: url("../img/03/steamconf-page-09.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0px 11px 23px grey;
}

.page-header-section-registry {
  background-image: url("../img/03/steamconf-page-05.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0px 11px 23px grey;
}

.page-header-title {
  color: white;
  display: block;
  position: absolute;
  text-align: center;
  z-index: 7;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  width: 300px;
}

.page-dots {
  margin: 15% auto;
  border-bottom: 3px solid #EB7B39;
}

.page-text-container {
  padding: 0 10%;
  margin-bottom: 8%;
  text-align: center;
}

.page-text-container p{
  line-height: 1.7em;
}

.page-text-container-h3 {
  font-weight: 600 !important;
}

.page-text-container-section {
  margin: 20% 0;
}

.page-text-container-title {
  font-weight: 600;
  color: #EB7B39;
  margin-bottom: 7%;
}

.page-text-container-subtitle {
  font-weight: 600;
}

.steering-committe-section-p {
  margin-top: 4%;
}


.organizer-image {
padding: 0 2% 0 8%;
}

.page-text-container-image {
  border-radius: 50%;
  width: 70%;
  display: block;
  position: relative;
  margin: 0 auto 10% auto;
}

.organizer-description {
  text-align: left;
  margin-top: 0%;
  padding-left: 5% !important;
}

.organizer-right, .organizer-left {
  padding: 0 7% !important;
  margin-bottom: 15%;
}


.page-text-container-group {
    margin: 10% 0;
}

.page-text-container-section-a {
  color: rgb(140, 138, 138);
}

.page-text-container-section-a:hover {
  color: #EB7B39;
}

.page-text-container-section-h1 {
  font-weight: 600;
  font-size: 2em;
}

.page-text-container-section-h3 {
    font-weight: 600;
    font-size: 1.3em;
}

.page-h2-highlight {
  color: #EB7B39;
  text-align: left;
  margin: 15% auto;
  margin: 3% 0;
  font-size: 3em;
}

.page-highlight-subtitle {
  font-size: 2em;
  margin-bottom: 3%;
  text-align: left;
}

.about-text-container-right {
  padding: 0 7%;
  text-align: left;
}

.about-text-description {
  margin-bottom: 3%;
}

.steering-committe-section {
  text-align: left;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

}


/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .page-header-section-about, .page-header-section-registry, .page-header-section, .page-header-section-speakers {
    height: 270px;
  }

  .page-header-title {
    font-size: 2.5rem;
    width: 500px;
  }

  .page-h2-highlight {
    margin: 10% auto;
  }

  .page-text-container {
    padding: 0 5%;
  }

  .page-text-container-section {
    margin: 10% 0;
  }

  .page-text-container-section-h1 {
    font-size: 3em;
  }

  .page-text-container-section-h3 {
      font-size: 1.7em;
  }

  .page-text-container-title {
    margin-bottom: 3%;
  }

  .page-header-title {
    top: 73%;
    font-size: 3em;
  }

  .organizer-right, .organizer-left {
    margin: 0 !important;
  }

  .page-h2-highlight {
    margin: 3% 0;
    font-size: 3em;
  }

  .about-text-container-right {
    padding: 0 8% 0 4%;
    text-align: left;
  }

  .about-text-description {
    padding: 0 5% 0 7%;

  }

  .steering-committe-section {
    text-align: center;
  }

  .page-dots {
    margin: 7% auto;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

    .page-header-section-about, .page-header-section-registry, .page-header-section, .page-header-section-speakers {
      height: 310px;
    }

    .page-h2-highlight {
      margin: 5% auto;
    }

    .page-header-title {
      top: 73%;
      font-size: 3.5em;
    }

    .page-hr {
      border-top: 3px solid #CECECE;
    }

    .content-schedule-info, .content-location, .content-time {
      margin: 0;
    }

    .content-schedule-info {
      text-align: left;
    }

    .organizer-right, .organizer-left {
      margin: 0 !important;
    }

    .page-h2-highlight {
      margin: 3% 0;
      font-size: 3.69em;
    }

    .page-highlight-subtitle {
      font-size: 2em;
    }

      .page-dots {
        margin: 5% auto;
      }


}



/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

    .page-header-title {
      top: 73%;
      font-size: 3.5em;
    }

    .page-hr {
      border-top: 5px solid #CECECE;
    }

}




/* ------------- registry ---------------- */

.register-call-to-action button {
  margin: 3% 0;
  padding: 2% 10%;
}

.register-call-to-action button p {
  margin: 0;
  font-size: 0.8em;
}

.register-text-h5 {
  font-weight: 600;
  margin-top: 5%;
}

.registry-notice {
  font-size: 2em;
}

.registry-hr {
  margin: 5% 0;
}

.registry-title-highlight {
  font-size: 3em;
}


/* ------------- schedule ---------------- */

.schedule-container, .workshops-container {
  margin: 0 0 10% 0;
}

.page-hr {
  border-top: 3px solid #CECECE;
}

.content-date-title  {
  text-align: center;
  margin: 15% 0;
}

.content-time h3, .content-location h3, .content-schedule-info h3, .content-schedule-time h3 {
  color: #EB7B39;
}

.content-schedule-info, .content-location {
  margin: 2% 0;
  text-align: left;
}

.schedule-row {
  margin: 3% 0;
  text-align: center;
}

.content-schedule-info, .content-schedule-time {
  text-align: left;
}

.content-schedule-time {
  margin: 3% 0;
  text-align: left;
}

.time-border {
  border-bottom: 3px solid #CECECE ;
  margin: 5% 85% 0 0;
}

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

    .content-date-title  {
      text-align: center;
      margin: 5% 0;
    }

    .time-border {
      display: none;
    }

    .content-schedule-info {
      text-align: left;
    }

  }

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

    .page-header-section-about, .page-header-section-registry, .page-header-section, .page-header-section-speakers {
      height: 310px;
    }



    .page-header-title {
      top: 73%;
      font-size: 3.5em;
    }

    .page-hr {
      border-top: 3px solid #CECECE;
    }

    .content-date-title  {
      text-align: center;
      margin: 5% 0;
    }

    .content-schedule-time {
      text-align: center;
      margin: 3% 0;
    }

  }


/* ------------- workshops ---------------- */

.workshops-row {
  margin: 3% 0;
}

.workshops-row .content-time {
  text-align: left;
}

.paralel-workshop-row {
  padding: 0;
}

.paralel-workshops-info {
  margin: 5% 0;
}

.paralel-workshops-info p {
  margin-top: 5% !important;
}


.workshops-speakers-area-row {
  margin: 0;
}

.coffee-break-icon {
  width: 15%;
  margin-right: 5%;
}

.coffee-break-span {
  margin-right: 10%;
}


.content-workshops-info h3 {
  color: #EB7B39;
  margin-bottom: 5%;
}

.content-workshops-info h5 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.content-workshops-info p {
  margin-top: 5%;
  padding-right: 5%;
}

.parallel-workshops-container {
  padding-left: 0;
}


/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  .workshops-row {
    margin: 3% 0;
  }

  .workshops-row .content-time {
    text-align: center;
  }

  .program-row .content-time {
    text-align: center;
  }

  .paralel-workshop-row {
    padding: 0 5%;
  }

  .paralel-workshops-info {
    margin: 0;
  }

  .paralel-workshops-info p {
    margin-top: 3% !important;
  }

  .workshops-speakers-area {
    padding-left: 20% !important;
    margin-top: 3%;
  }

  .workshops-speakers-area-row {
    margin-bottom: 3%;
  }

  .coffee-break-icon {
    width: 5%;
  }

  .coffee-break-span {
    margin-right: 2%;
  }


  .content-workshops-info h3 {
    color: #EB7B39;
    margin-bottom: 0;
  }

  .content-workshops-info p {
    margin-top: 3%;
    padding-right: 5%;
  }

  .parallel-workshops-container {
    padding-left: 10%;
  }

      .workshop-container {
        padding-right: 7%;
        padding-left: 7%;
      }

}



/* ------------- PROGRAM ---------------- */

.program-container {
  margin: 0 0 10% 0;
}

.content-program-info h3 {
    color: #EB7B39;
    margin-bottom: 1%;
}

.content-program-info h6 {
    font-weight: 700;
}

.content-program-info p {
    margin: 2% 0;
}

.program-row {
    margin: 3% 0;
}

.content-program-speaker-row {
   margin: 5% 0;
}

.button-edcamp-element {
  width: 400px;
  margin: 10% 0;
}

.button-dinar-element {
  width: 400px;
  margin: 10% 0;
}

.content-language-notice {
  color: #acacac;
  font-style: italic;
  font-weight: 500 !important;
  margin-bottom: 2%;
}

.button-unesco-element {
      width: 80%;
    margin: 2% 0;
}

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}







/* ------------- footer-section ----------------------------------------- footer-section ----------------------------- */

.home-footer-section {
  background-color: #d6d6d6;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c2c2c2' fill-opacity='0.56' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
border-top: 9px purple solid;
position: relative;
display: block;
}

.home-footer-address {
  text-align: center;
}

.home-footer-title-01 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 3%;
}

.how-to-arrive-icon {
  display: block;
  position: relative;
  margin: 0 auto 15% auto;
  width: 150px;

}

.arrive-col {
  text-align: center;
}

.home-footer-section-text {
  text-align: center;
  padding: 15% 0;
}




.footer-map {
    display: block;
    position: relative;
    z-index: 999;
    right: 0;
    top: 6%;
    box-shadow: 0px 0px 30px 5px grey;
}



.footer-map img{
    width: 100%;
}


.home-sub-footer {
    display: block;
    position: relative;
    background-color: #1E1E1E;
    padding: 5% 0;
    color: white;
    text-align: center;
}

.home-sub-footer-robot {
  display: none;
}

.home-sub-footer-contact {
  margin: 30px 0 30px 0;
}

.home-sub-footer-title {
  margin: 0 0 2% 0;
  font-weight: 600;
  font-size: 3em;
}

.home-sub-footer-text {
  font-size: 1.3em
}

.home-sub-footer-item {
  color: white;
}

.home-sub-footer-item-01, .home-sub-footer-item-02, .home-sub-footer-item-03, .home-sub-footer-item-04, .home-sub-footer-item-05, .home-sub-footer-item-06, .home-sub-footer-item-07, .home-sub-footer-item-08 {
  color: white;
}

.home-sub-footer-item-01:hover, .home-sub-footer-item-02:hover, .home-sub-footer-item-03:hover, .home-sub-footer-item-04:hover, .home-sub-footer-item-05:hover, .home-sub-footer-item-06:hover, .home-sub-footer-item-07:hover, .home-sub-footer-item-08:hover {
  color: #EB7B39;
}

.home-sub-footer-item:hover {
  color: #EB7B39;
}

.home-sub-footer-submenu {
  margin-top: 3%;
}


/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

    .footer-map img{
      width: 100%;
      float: right;
    }

    .footer-map {
      display: block;
      position: relative;
      right: 0;
      top: 10%;
      z-index: 97;
    }

    .home-footer-section-text {
      text-align: center;
      padding: 5% 0;
    }

    .home-sub-footer {
      margin-top: 0;
    }

    .home-sub-footer-contact {
      margin: 35% 0 4% 0;
    }



}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

    .footer-map img{
      width: 100%;
      float: right;
    }

    .home-sub-footer {
      background-color: #1E1E1E;
      padding: 5% 0 3% 0;
      color: white;
      text-align: left;
      display: block;
      position: relative;
      overflow: -moz-hidden-unscrollable;
    }

    .home-footer-section-text {

      text-align: left;
      padding: 9% 0 7% 0;

    }

    .home-sub-footer-contact {
      margin: 37% 0 4% 3%;
    }

    .home-sub-footer-robot {
      width: 33%;
      position: absolute;
      display: block;
      right: 0;
      top: 35%;
    }



}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

    .home-sub-footer-contact {
      margin: 33% 0 4% 3%;
    }

    .home-sub-footer-robot {
      width: 33%;
      position: absolute;
      display: block;
      right: 0;
      top: 30%;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1400px) {

    .home-sub-footer-contact {
      margin: 35% 0 4% 3%;
    }

}
