{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.About }}

{{ partial "page-header.html" . }}

  </head>
    <body class="page-body">

      {{ partial "page-nav.html" . }}

      <div class="page-header-section-speakers">
        <h1 class="page-header-title">{{ .PageHeaderSpeakers }}</h1>
      </div>

      <div class="title-dots page-dots">
        <img class="t-dots" src="../../img/01/title-dots.svg" alt="steamconf dots">
      </div>

      <div class="container page-text-container">

        <div class="page-text-container-section">

            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/oriol_marimon.jpg" alt="steamconf-oriol-marimon">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle01 }}</h4>

                <h6 class="page-text-container-subtitle">{{ .ItemSpeakerSubtitle01 }}</h6>

                <p class="speakers-section-p">{{ .ItemSpeakerText01 }}</p>

            </div> <!-- page-text-container-group -->


            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/helena_gonzalez.jpg" alt="steamconf-helena-gonzález">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle02 }}</h4>

                <h6 class="page-text-container-subtitle">{{ .ItemSpeakerSubtitle02 }}</h6>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText02 }}</p>

            </div> <!-- page-text-container-group -->



            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/sam_aaron.jpg" alt="steamconf-sam-aaron">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle03 }}</h4>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText03 }}</p>

            </div> <!-- page-text-container-group -->




            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/karen_wilkinson.jpg" alt="steamconf-karen-wilkinson">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle04 }}</h4>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText04 }}</p>

            </div> <!-- page-text-container-group -->




            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/mike_petrich.jpg" alt="steamconf-mike-petrich">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle05 }}</h4>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText05 }}</p>

            </div> <!-- page-text-container-group -->




            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/anna_cutler.jpg" alt="steamconf-anna-cutler">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle06 }}</h4>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText06 }}</p>

            </div> <!-- page-text-container-group -->




            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/gever_tulley.jpg" alt="steamconf-gever-tulley">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle07 }}</h4>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText07 }}</p>

            </div> <!-- page-text-container-group -->





            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/mackenzie_price.jpg" alt="steamconf-mackenzie-price">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle08 }}</h4>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText08 }}</p>

            </div> <!-- page-text-container-group -->





            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/juuso_henrik_nieminen.jpg" alt="steamconf-juuso-henrik-nieminen">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle09 }}</h4>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText09 }}</p>

            </div> <!-- page-text-container-group -->






            <div class="page-text-container-group">

                <img class="page-text-container-image" src="../../img/02/kaleb_rashad.jpg" alt="steamconf-kaleb-rashad">

                <h4 class="page-text-container-title">{{ .ItemSpeakerTitle10 }}</h4>

                <p class="Speaker-committe-section-p">{{ .ItemSpeakerText10 }}</p>

            </div> <!-- page-text-container-group -->

        </div> <!-- page-text-container-section -->

      </div> <!-- container page-text-container -->

      {{ partial "js.html" . }}

      {{ partial "page-footer.html" . }}

    </body>
  </html>

{{ end }}
