{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.speakers }}

    {{ partial "page-header.html" . }}

  </head>

      <body class="page-body">
        {{ partial "page-nav.html" . }}

        <div class="page-header-section-speakers">
          <h1 class="page-header-title">{{ .PageHeaderSpeakers }}</h1>
        </div>

        <div class="title-dots page-dots"></div>

        <div class="container page-text-container">

          <p>{{ .Info01 }}</p>

          <h2 class="page-h2-highlight">{{ .Info02 }}</h2>

          <p>{{ .Info03 }}</p>

          <div class="page-text-container-section speaker-committe-section speakers-page">


<!-------------------------------------------- oriol_marimon & helena_gonzalez ----------------------------->

            <div class="page-text-container-group" id="oriol">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                  <img class="page-text-container-image" src="../../../img/02/helena_gonzalez.jpg" alt="SteamConf Speaker Helena Gonzalez">

                  <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle01B }}</h4>

                  <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle01B }}</h6>

                  <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText01B }}</p>

                  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/HelenaArlequino">@HelenaArlequino</a>

                </div>  <!-- col -->

                <div class="col-md-6 organizer-right" id="helena">

                      <img class="page-text-container-image speakers-first-image" src="../../../img/02/oriol_marimon.jpg" alt="SteamConf Speaker Oriol Marimon">

                      <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle01A }}</h4>

                      <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle01A }}</h6>

                      <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText01A }}</p>

                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


<!-------------------------------------------- anna cuttler & Monica Bello ----------------------------->

            <div class="page-text-container-group" id="anna">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-right" id="anna">

                    <img class="page-text-container-image" src="../../../img/02/anna_cutler.jpg" alt="SteamConf Speaker Anna Cuttler">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle02A }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle02A }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText02A }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/AnnaCutler">@AnnaCutler</a>


                </div>  <!-- col -->

                <div class="col-md-6 organizer-right" id="monica">

                    <img class="page-text-container-image" src="../../../img/02/monica_bello.jpg" alt="SteamConf Speaker Monica Bello">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle02B }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle02B }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText02B }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/monica_bello">@monica_bello</a>

                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


<!---------------------------- sebastian_martin & Oscar Ciuro ----------------------------->

            <div class="page-text-container-group" id="sebastian">

              <div class="row organizers-row">

                  <div class="col-md-6 organizer-left" id="sebastian">

                      <img class="page-text-container-image" src="../../../img/02/sebastian_martin.jpg" alt="SteamConf Speaker Sebastian Martin">

                      <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle04A }}</h4>

                      <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle04A }}</h6>

                      <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText04A }}</p>

                      <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/smartinseb">@smartinseb</a>


                  </div>  <!-- col -->

                <div class="col-md-6 organizer-right" id="oscar">

                    <img class="page-text-container-image" src="../../../img/02/oscar_ciuro.jpg" alt="SteamConf Speaker Oscar Ciuro">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle04B }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle04B }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText04B }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/sarok">@sarok</a>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


<!-------------------------------------------- sam aaron & carles ceacero ----------------------------->

            <div class="page-text-container-group" id="sam">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left" id="sam">

                  <img class="page-text-container-image" src="../../../img/02/sam_aaron.jpg" alt="SteamConf Speaker Sam Aaron">

                  <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle03A }}</h4>

                  <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle03A }}</h6>

                  <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText03A }}</p>

                  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/samaaron">@samaaron</a>

                </div>  <!-- col -->


                <div class="col-md-6 organizer-right" id="carles">

                    <img class="page-text-container-image" src="../../../img/02/carles_ceacero.jpg" alt="SteamConf Speaker Carles Ceacero">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle03B }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle03B }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText03B }}</p>

                      <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/musicarles">@musicarles</a>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


<!-------------------------------------------- gever_tulley & mackenzie_price ----------------------------->

            <div class="page-text-container-group" id="gever">

              <div class="row organizers-row">

                <div class="col-md-6 offset-md-3 organizer-left" id="gever">

                    <img class="page-text-container-image" src="../../../img/02/gever_tulley.jpg" alt="SteamConf Speaker Gever Tulley">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle05A }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle05A }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText05A }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/gever">@gever</a>

                </div>  <!-- col -->

                  <div class="col-md-6 organizer-right" id="mackenzie">

                      <img class="page-text-container-image" src="../../../img/02/mackenzie_price.jpg" alt="SteamConf Speaker Mackenzie Price">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle05B }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle05B }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText05B }}</p>


                  </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


<!---------------------------- juuso_henrik_nieminen & caterina_calsamiglia ----------------------------->

            <div class="page-text-container-group" id="juuso">

              <div class="row organizers-row">

                <div class="col-md-6 offset-md-3 organizer-left" id="juuso">

                    <img class="page-text-container-image" src="../../../img/02/juuso_henrik_nieminen.jpg" alt="SteamConf Speaker Juuso">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle06A }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle06A }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText06A }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/JuusoNieminen">@JuusoNieminen</a>

                </div>  <!-- col -->

                  <div class="col-md-6 organizer-right" id="caterina">

                      <img class="page-text-container-image" src="../../../img/02/caterina_calsamiglia.jpg" alt="SteamConf Speaker caterina calsamiglia">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle06B }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle06B }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText06B }}</p>

                    <!-- <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/Vibanez60">@Vibanez60</a> -->


                  </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


<!---------------------------- kaleb_rashad & sergi_moral ----------------------------->

            <div class="page-text-container-group" id="kaleb">

              <div class="row organizers-row">

                <div class="col-md-6 offset-md-3 organizer-left" id="kaleb">

                     <img class="page-text-container-image" src="../../../img/02/kaleb_rashad.jpg" alt="SteamConf Speaker committe">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle07A }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle07A }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText07A }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/kalebrashad">@kalebrashad</a>

                </div>  <!-- col -->

                  <div class="col-md-6 organizer-right" id="sergi">

                      <img class="page-text-container-image" src="../../../img/04/sergi_moral.jpg" alt="SteamConf Speaker Sergi del Moral">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle07B }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle07B }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText07B }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/sergidelmoral">@sergidelmoral</a>


                  </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


<!---------------------------- eduard vallory ----------------------------->

            <div class="page-text-container-group" id="eduard">

              <div class="row organizers-row">

                <div class="col-md-6 offset-md-3 organizer-left" id="eduard">

                     <img class="page-text-container-image" src="../../../img/02/eduard-vallory.jpg" alt="SteamConf Speaker committe">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle08A }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle08A }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText08A }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/evallory">@evallory</a>

                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


      </div> <!-- page-text-container-section -->



    </div>

    {{ partial "js.html" . }}

    {{ partial "page-footer.html" . }}

  </body>
</html>

{{ end }}
