{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.speakers }}

    {{ partial "page-header.html" . }}

  </head>

      <body class="page-body">
        {{ partial "page-nav.html" . }}

        <div class="page-header-section-speakers">
          <h1 class="page-header-title">{{ .PageHeaderSpeakers }}</h1>
        </div>

        <div class="title-dots page-dots"></div>

        <div class="container page-text-container">

          <p>{{ .Info01 }}</p>

          <h2 class="page-h2-highlight">{{ .Info02 }}</h2>

          <p>{{ .Info03 }}</p>

          <div class="page-text-container-section speaker-committe-section speakers-page">


<!-------------------------------------------- oriol_marimon & helena_gonzalez ----------------------------->

            <div class="page-text-container-group" id="oriol">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                <img class="page-text-container-image speakers-first-image" src="../../../img/02/oriol_marimon.jpg" alt="SteamConf Speaker committe">

                <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle01 }}</h4>

                <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle01 }}</h6>

                <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText01 }}</p>


                </div>  <!-- col -->

                <div class="col-md-6 organizer-right" id="helena">

                      <img class="page-text-container-image" src="../../../img/02/helena_gonzalez.jpg" alt="SteamConf Speaker committe">

                      <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle02 }}</h4>

                      <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle02 }}</h6>

                      <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText02 }}</p>

                      <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/HelenaArlequino">@HelenaArlequino</a>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->





<!-------------------------------------------- sam_aaron & karen_wilkinson ----------------------------->

            <div class="page-text-container-group" id="sam">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                  <img class="page-text-container-image" src="../../../img/02/sam_aaron.jpg" alt="SteamConf Speaker committe">

                  <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle03 }}</h4>

                  <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle03 }}</h6>

                  <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText03 }}</p>

                  <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/samaaron">@samaaron</a>

                </div>  <!-- col -->

                <div class="col-md-6 organizer-right" id="karen">

                      <img class="page-text-container-image" src="../../../img/02/karen_wilkinson.jpg" alt="SteamConf Speaker committe">

                      <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle04 }}</h4>

                      <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle04 }}</h6>

                      <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText04 }}</p>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->




<!-------------------------------------------- sam_aaron & karen_wilkinson ----------------------------->

            <div class="page-text-container-group" id="mike">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                    <img class="page-text-container-image" src="../../../img/02/mike_petrich.jpg" alt="SteamConf Speaker committe">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle05 }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle05 }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText05 }}</p>

                </div>  <!-- col -->

                <div class="col-md-6 organizer-right" id="anna">

                    <img class="page-text-container-image" src="../../../img/02/anna_cutler.jpg" alt="SteamConf Speaker committe">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle06 }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle06 }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText06 }}</p>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->





<!-------------------------------------------- gever_tulley & mackenzie_price ----------------------------->

            <div class="page-text-container-group" id="gever">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                    <img class="page-text-container-image" src="../../../img/02/gever_tulley.jpg" alt="SteamConf Speaker committe">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle07 }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle07 }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText07 }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/gever">@gever</a>

                </div>  <!-- col -->

                <div class="col-md-6 organizer-right" id="mackenzie">

                    <img class="page-text-container-image" src="../../../img/02/mackenzie_price.jpg" alt="SteamConf Speaker committe">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle08 }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle08 }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText08 }}</p>


                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->




<!-------------------------------------------- juuso_henrik_nieminen & kaleb_rashad ----------------------------->

            <div class="page-text-container-group" id="juuso">

              <div class="row organizers-row">

                <div class="col-md-6 organizer-left">

                    <img class="page-text-container-image" src="../../../img/02/juuso_henrik_nieminen.jpg" alt="SteamConf Speaker committe">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle09 }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle09 }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText09 }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/JuusoNieminen">@JuusoNieminen</a>

                </div>  <!-- col -->

                <div class="col-md-6 organizer-right" id="mackenzie">

                    <img class="page-text-container-image" src="../../../img/02/kaleb_rashad.jpg" alt="SteamConf Speaker committe">

                    <h4 class="page-text-container-title speaker-title">{{ .ItemSpeakerTitle10 }}</h4>

                    <h6 class="page-text-container-subtitle speaker-subtitle">{{ .ItemSpeakerSubtitle10 }}</h6>

                    <p class="Speaker-committe-section-p speakers-page-p">{{ .ItemSpeakerText10 }}</p>

                    <a class="page-text-container-section-a" target="_blank" href="https://twitter.com/kalebrashad">@kalebrashad</a>

                </div>  <!-- col -->

              </div>

            </div> <!-- page-text-container-group -->


      </div> <!-- page-text-container-section -->



    </div>

    {{ partial "js.html" . }}

    {{ partial "page-footer.html" . }}

  </body>
</html>

{{ end }}
